Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

feat(rc-antd): adjust delete button position, support customizing add button
  packages/rc-antd/src/FormAppendableList/FormAppendableList.module.scss
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  pnpm-lock.yaml
  projects/webapp/package.json
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/BigInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/MultiInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/ReadonlyMultiInputItem.module.scss
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/ReadonlyMultiInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/SingleInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/index.ts
Due: stylelint --cache, eslint --cache

feat(rc-antd): support customizing add button for FormAppendableTable
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/TaggedInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/FormAppendableTableDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/MultiInputTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/ReadonlyMultiInputTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/SimpleTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/index.ts
Due: eslint --cache

feat(rc-antd): support customizing delete button for FormAppendableList and FormAppendableTable
  packages/rc-antd/src/FormAppendableList/FormAppendableList.module.scss
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo/ReadonlyMultiInputItem.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/FormAppendableTableDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/ReadonlyMultiInputTable.tsx
Due: stylelint --cache, eslint --cache

refactor(helpers-antd): rename helpers
  packages/helpers-antd/src/__tests__/namePath.test.ts
  packages/helpers-antd/src/__tests__/select.test.ts
  packages/helpers-antd/src/namePath.ts
  packages/helpers-antd/src/select.ts
Due: eslint --cache

feat(pkg/utils): remove noop fn
  packages/hooks/package.json
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils/src/function.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(vscode): update keybindings
  templates/software/vscode/keybindings.json
Due: none

feat(webapp): add complex table example for FormAppendableTable
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/ComplexTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo/FormAppendableTableDemo.tsx
Due: eslint --cache

feat(utils-test): add createProcessEnvResetter
  packages/utils-test/src/mockEnv.ts
Due: eslint --cache

feat(helpers-antd): NamePathHelper.merge supports multiple name paths
  packages/helpers-antd/src/__tests__/namePath.test.ts
  packages/helpers-antd/src/namePath.ts
Due: eslint --cache

feat(fetcher): support specifying different domain by baseURL
  packages/fetcher/src/__tests__/fetcher.test.ts
  packages/fetcher/src/__tests__/fetcherFactory.test.ts
  packages/fetcher/src/fetcherFactory.ts
Due: eslint --cache

feat(helpers-antd): NamePathHelper.merge supports undefined
  packages/helpers-antd/src/__tests__/namePath.test.ts
  packages/helpers-antd/src/namePath.ts
Due: eslint --cache

chore(eslint): upgrade eslint to v9
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-server/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/perf-js/package.json
  projects/redux-usage-demo/package.json
  projects/webapp/package.json
Due: none

feat(vscode): update vscode settings
  easy-projs.code-workspace
  templates/software/vscode/settings.json
Due: none

chore: update lint-staged config
  configs/global-types/.lintstagedrc
  configs/jest-config/.lintstagedrc
  packages/apis/.lintstagedrc
  packages/fetcher/.lintstagedrc
  packages/helpers-antd/.lintstagedrc
  packages/helpers-class-validator/.lintstagedrc
  packages/helpers-nestjs/.lintstagedrc
  packages/helpers-redux/.lintstagedrc
  packages/helpers-typeorm/.lintstagedrc
  packages/hooks/.lintstagedrc
  packages/random-string/.lintstagedrc
  packages/rc-antd/.lintstagedrc
  packages/types/.lintstagedrc
  packages/utils-browser/.lintstagedrc
  packages/utils-node/.lintstagedrc
  packages/utils-server/.lintstagedrc
  packages/utils-test/.lintstagedrc
  packages/utils/.lintstagedrc
  projects/bundlesize-antd/.lintstagedrc
  projects/bundlesize-fluentui/.lintstagedrc
  projects/misc-scripts/.lintstagedrc
  projects/perf-js/.lintstagedrc
  projects/redux-usage-demo/.lintstagedrc
  projects/webapp/.lintstagedrc
Due: none

chore(eslint): turn off no-use-before-define for functions
  configs/eslint-config/.eslintrc.basic.js
Due: none

docs: update bundle size
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
  projects/webapp/package.json
  projects/webapp/src/demos/ComponentDemoContainer/ComponentDemoContainer.tsx
Due: eslint --cache

chore(config): change extensions order
  configs/eslint-config/.eslintrc.basic.js
  configs/jest-config/src/jest.config.node-cjs.ts
  configs/jest-config/src/jest.config.webapp-cjs.ts
Due: eslint --cache

chore: upgrade to node v24
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
  configs/jest-config/package.json
  package.json
  packages/random-string/package.json
  packages/utils-node/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/perf-js/package.json
Due: none

chore: format cts and mts files
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-server/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/perf-js/package.json
  projects/redux-usage-demo/package.json
  projects/webapp/package.json
  projects/webapp/src/index.css
Due: stylelint --cache

feat(software): update vscode keybindings
  templates/software/vscode/keybindings.json
Due: none

docs: update bundle size
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
  projects/webapp/package.json
Due: none

refactor(rc-antd): simplify FormAppendableTable rowKey
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
Due: eslint --cache

feat(rc-antd): use ConfigProvider to configure Form and Table UI, no css
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.module.scss
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
Due: stylelint --cache, eslint --cache

feat(jest-config): more readable
  configs/jest-config/bin/unit-test.js
  configs/jest-config/package.json
  configs/jest-config/src/exec.ts
  configs/jest-config/src/main.ts
Due: eslint --cache

feat(rc-antd): take less space when no data
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/BasicDemo.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/MultiInputsDemo.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/SizeDemo.tsx
Due: eslint --cache

feat(vscode): update vscode settings
  templates/software/vscode/settings.json
Due: none

chore(deps): refresh deps
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/fetcher/src/__tests__/fetcher.test.ts
  packages/fetcher/src/__tests__/fetcherFactory.test.ts
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-server/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/perf-js/package.json
  projects/redux-usage-demo/package.json
  projects/webapp/package.json
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/intro/IntroOverview/IntroOverview.module.scss
  projects/webapp/src/pages/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
Due: stylelint --cache, eslint --cache

chore(jest): use import.meta.resolve
  configs/jest-config/src/jest.config.node-cjs-legacy-decorator.ts
  configs/jest-config/src/jest.config.node-cjs.ts
  configs/jest-config/src/jest.config.webapp-cjs.ts
  configs/jest-config/src/jest.config.webapp-esm.ts
  configs/jest-config/src/main.ts
Due: eslint --cache

feat(performance-js): use tinybench for benchmarking
  easy-projs.code-workspace
  pnpm-lock.yaml
  projects/perf-js/src/BuildString.ts
  projects/perf-js/src/DefaultFunctionParameter.ts
  projects/perf-js/src/global.d.ts
  projects/performance-js/.eslintrc.json
  projects/performance-js/.lintstagedrc
  projects/performance-js/.prettierignore
  projects/performance-js/README.md
  projects/performance-js/package.json
  projects/performance-js/src/bench.ts
  projects/performance-js/src/builtin/BuildString.log
  projects/performance-js/src/builtin/BuildString.ts
  projects/performance-js/src/tinybench.ts
  projects/performance-js/src/utils.ts
  projects/performance-js/tsconfig.json
  projects/performance-js/tsconfig.node.json
Due: eslint --cache

feat(vscode): update vscode settings
  templates/software/vscode/keybindings.json
  templates/software/vscode/settings.json
Due: none

feat(jest-config): delete jest config for commonjs
  configs/jest-config/src/jest.config.node-cjs-legacy-decorator.ts
  configs/jest-config/src/jest.config.node-cjs.ts
  configs/jest-config/src/jest.config.node-esm-legacy-decorator.ts
  configs/jest-config/src/jest.config.node-esm.ts
  configs/jest-config/src/main.ts
Due: eslint --cache

chore: update git attributes
  .gitattributes
Due: none

chore: use pnpm catalogs
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-server/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/performance-js/package.json
  projects/redux-usage-demo/package.json
  projects/webapp/package.json
Due: none

docs: update bundle size
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/README.md
Due: none

chore(deps): upgrade react to v19.2.3
  packages/helpers-redux/src/useDispatching.ts
  packages/hooks/src/useConst.ts
  packages/hooks/src/useImmediateFocus.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useIsFocused.ts
  packages/hooks/src/useIsHovered.ts
  packages/hooks/src/usePersistFn.ts
  packages/hooks/src/useTimeout.ts
  packages/hooks/src/useWhyDidYouUpdate.ts
  packages/rc-antd/src/Readonlyable/Readonlyable.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-fluentui/README.md
Due: eslint --cache

chore: set rest packages to esmodule
  packages/helpers-antd/eslint.config.js
  packages/helpers-antd/package.json
  packages/rc-antd/eslint.config.js
  packages/rc-antd/package.json
  projects/bundlesize-antd/eslint.config.js
  projects/bundlesize-antd/package.json
  projects/bundlesize-antd/tsconfig.vite.json
  projects/bundlesize-antd/vite.config.ts
  projects/bundlesize-fluentui/eslint.config.js
  projects/bundlesize-fluentui/package.json
  projects/bundlesize-fluentui/tsconfig.vite.json
  projects/bundlesize-fluentui/vite.config.ts
  projects/webapp/eslint.config.js
  projects/webapp/package.json
  projects/webapp/tsconfig.vite.json
  projects/webapp/vite.config.ts
Due: eslint --cache

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
