Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

chore(deps): bump typescript to v5.3.3
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/scripts/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/assets/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/template-nodejs/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/proving-ground-nodejs/package.json
  projects/webapp/package.json
Due: none

feat: add nginx config templates
  easy-projs.code-workspace
  projects/server/templates/etc/nginx/sites-available/domain
  projects/server/templates/etc/nginx/sites-available/domain-multienv
Due: none

chore: clear versions
  package.json
  packages/helpers-antd/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/utils-test/package.json
  packages/utils/package.json
Due: none

feat: improve domain-multienv nginx config
  projects/server/templates/etc/nginx/sites-available/domain-multienv
Due: none

feat: add nginx reversed-proxy config
  projects/server/templates/etc/nginx/nginx.conf
  projects/server/templates/etc/nginx/sites-available/example.com
  projects/server/templates/etc/nginx/sites-available/multienv.example.com
  projects/server/templates/etc/nginx/stream-available/mysql
  projects/server/templates/etc/nginx/stream-available/redis
Due: none

chore(git): add new git ignores
  .gitignore
Due: none

chore(jest): add jest config for node/webapp cjs/esm
  configs/scripts/src/jest/jest-node.cjs.config.ts
  configs/scripts/src/jest/jest-node.esm.config.ts
  configs/scripts/src/jest/jest-webapp.cjs.config.ts
  configs/scripts/src/jest/jest-webapp.esm.config.ts
  package.json
Due: eslint --cache

chore: delete unused packages/projects
  easy-projs.code-workspace
  packages/template-nodejs/.eslintrc.json
  packages/template-nodejs/.prettierignore
  packages/template-nodejs/README.md
  packages/template-nodejs/package.json
  packages/template-nodejs/src/global.d.ts
  packages/template-nodejs/src/index.ts
  packages/template-nodejs/tsconfig.json
  packages/template-nodejs/tsconfigs/tsconfig.lib.json
  packages/template-nodejs/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  projects/proving-ground-nodejs/.eslintrc.json
  projects/proving-ground-nodejs/.prettierignore
  projects/proving-ground-nodejs/README.md
  projects/proving-ground-nodejs/package.json
  projects/proving-ground-nodejs/src/global.d.ts
  projects/proving-ground-nodejs/src/index.ts
  projects/proving-ground-nodejs/tsconfig.json
  projects/proving-ground-nodejs/tsconfig.node.json
Due: eslint --cache

chore: make @easy-config/stylelint-config pure esm
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/webapp/package.json
Due: none

chore: delete @easy-pkg/assets
  easy-projs.code-workspace
  packages/assets/.eslintrc.json
  packages/assets/.prettierignore
  packages/assets/README.md
  packages/assets/assets/logo.svg
  packages/assets/package.json
  packages/assets/src/global.d.ts
  packages/assets/src/index.ts
  packages/assets/tsconfig.json
  packages/assets/tsconfigs/tsconfig.lib.json
  packages/assets/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
Due: eslint --cache

chore: make @easy-pkg/fetcher pure esm
  configs/tsconfigs/tsconfig.react-new.eslint.json
  configs/tsconfigs/tsconfig.react-new.json
  configs/tsconfigs/tsconfig.react-new.types.json
  packages/fetcher/package.json
  packages/fetcher/src/fetcher/fetcher.ts
  packages/fetcher/src/fetcher/index.ts
  packages/fetcher/src/global.d.ts
  packages/fetcher/src/hooks/index.ts
  packages/fetcher/src/hooks/types.ts
  packages/fetcher/src/hooks/useGetRequest.ts
  packages/fetcher/src/hooks/useRequest.ts
  packages/fetcher/src/index.ts
  packages/fetcher/tsconfig.json
  packages/fetcher/tsconfigs/tsconfig.lib.json
  packages/fetcher/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: make @easy-pkg/helpers-react pure esm
  packages/helpers-react/package.json
  packages/helpers-react/src/global.d.ts
  packages/helpers-react/src/index.ts
  packages/helpers-react/tsconfig.json
  packages/helpers-react/tsconfigs/tsconfig.lib.json
  packages/helpers-react/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: make @easy-pkg/helpers-redux pure esm
  packages/helpers-redux/package.json
  packages/helpers-redux/src/global.d.ts
  packages/helpers-redux/src/index.ts
  packages/helpers-redux/src/omitUnderscorePrefixActions.ts
  packages/helpers-redux/src/thunkCreatorFactory.ts
  packages/helpers-redux/src/useDispatching.ts
  packages/helpers-redux/tsconfig.json
  packages/helpers-redux/tsconfigs/tsconfig.lib.json
  packages/helpers-redux/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: make @easy-pkg/hooks pure esm
  configs/jest-config/src/jest.config.webapp-esm.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useImmediateFocus.test.tsx
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useIsMounted.test.tsx
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useSingleInterval.test.tsx
  packages/hooks/src/__tests__/useSingleTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/hooks/src/global.d.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useIsFocused.ts
  packages/hooks/src/useIsHovered.ts
  packages/hooks/src/useIsMounted.ts
  packages/hooks/src/useTimeout.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsconfigs/tsconfig.lib.json
  packages/hooks/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: make @easy-pkg/utils-browser pure esm
  configs/tsconfigs/tsconfig.browser-new.eslint.json
  configs/tsconfigs/tsconfig.browser-new.json
  configs/tsconfigs/tsconfig.browser-new.types.json
  packages/utils-browser/package.json
  packages/utils-browser/src/__tests__/assert.test.ts
  packages/utils-browser/src/global.d.ts
  packages/utils-browser/src/index.ts
  packages/utils-browser/src/storage/__tests__/helpers.test.ts
  packages/utils-browser/src/storage/helpers.ts
  packages/utils-browser/src/storage/index.ts
  packages/utils-browser/tsconfig.json
  packages/utils-browser/tsconfigs/tsconfig.lib.json
  packages/utils-browser/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: make @easy-pkg/utils-test pure esm
  packages/utils-test/package.json
  packages/utils-test/src/__tests__/class.test.ts
  packages/utils-test/src/global.d.ts
  packages/utils-test/src/index.ts
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfigs/tsconfig.lib.json
  packages/utils-test/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore: rename tsconfig files
  configs/tsconfigs/tsconfig.browser-new.eslint.json
  configs/tsconfigs/tsconfig.browser-new.types.json
  configs/tsconfigs/tsconfig.browser.json
  configs/tsconfigs/tsconfig.bundler.json
  configs/tsconfigs/tsconfig.bundler.types.json
  configs/tsconfigs/tsconfig.react-legacy.eslint.json
  configs/tsconfigs/tsconfig.react-legacy.json
  configs/tsconfigs/tsconfig.react-legacy.types.json
  configs/tsconfigs/tsconfig.react-new.eslint.json
  configs/tsconfigs/tsconfig.react-new.json
  configs/tsconfigs/tsconfig.react.json
  packages/fetcher/tsconfig.json
  packages/fetcher/tsconfigs/tsconfig.lib.json
  packages/fetcher/tsconfigs/tsconfig.types.json
  packages/helpers-antd/tsconfig.json
  packages/helpers-antd/tsconfigs/tsconfig.lib.json
  packages/helpers-antd/tsconfigs/tsconfig.types.json
  packages/helpers-react/tsconfig.json
  packages/helpers-react/tsconfigs/tsconfig.lib.json
  packages/helpers-react/tsconfigs/tsconfig.types.json
  packages/helpers-redux/tsconfig.json
  packages/helpers-redux/tsconfigs/tsconfig.lib.json
  packages/helpers-redux/tsconfigs/tsconfig.types.json
  packages/hooks/tsconfig.json
  packages/hooks/tsconfigs/tsconfig.lib.json
  packages/hooks/tsconfigs/tsconfig.types.json
  packages/rc-antd/tsconfig.json
  packages/utils-browser/tsconfig.json
  packages/utils-browser/tsconfigs/tsconfig.lib.json
  packages/utils-browser/tsconfigs/tsconfig.types.json
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfigs/tsconfig.lib.json
  packages/utils-test/tsconfigs/tsconfig.types.json
  projects/misc/ts/global.d.ts
  projects/perf-js/src/global.d.ts
  projects/webapp/tsconfig.json
Due: eslint --cache

fix: make jest test work in pure esm
  configs/jest-config/src/exec.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/useSingleInterval.test.tsx
  packages/hooks/src/__tests__/useSingleTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/memorize/package.json
  packages/memorize/src/index.test.ts
  packages/utils-test/package.json
  packages/utils-test/src/console.ts
  packages/utils-test/src/storage.ts
  packages/utils/package.json
  packages/utils/src/__tests__/array.test.ts
  packages/utils/src/__tests__/enum.test.ts
  pnpm-lock.yaml
Due: eslint --cache

chore: improve tsconfig.base.json
  configs/tsconfigs/tsconfig.base.json
  configs/tsconfigs/tsconfig.browser.json
  configs/tsconfigs/tsconfig.node16.json
  configs/tsconfigs/tsconfig.react-legacy.json
  configs/tsconfigs/tsconfig.react.json
  projects/webapp/tsconfig.vite.json
Due: none

chore: add .swcrc file into git attributes
  .gitattributes
Due: none

test: improve test label
  packages/utils-browser/src/storage/__tests__/helpers.test.ts
  packages/utils/src/__tests__/enum.test.ts
  packages/utils/src/__tests__/function.test.ts
  packages/utils/src/__tests__/object.test.ts
  packages/utils/src/__tests__/string.test.ts
Due: eslint --cache

chore(deps): fix @testing-library/jest-dom version
  packages/utils-test/package.json
  pnpm-lock.yaml
Due: none

feat: improve usePersistFn
  packages/hooks/package.json
  packages/hooks/src/__tests__/noop.ts
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/usePersistFn.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(webapp): use absolute url to define data routes
  projects/webapp/src/router/routes.tsx
Due: eslint --cache

feat: add class-validator helpers
  easy-projs.code-workspace
  packages/helpers-class-validator/.eslintrc.json
  packages/helpers-class-validator/.prettierignore
  packages/helpers-class-validator/README.md
  packages/helpers-class-validator/package.json
  packages/helpers-class-validator/src/index.ts
  packages/helpers-class-validator/tsconfig.json
  packages/helpers-class-validator/tsconfigs/tsconfig.lib.json
  packages/helpers-class-validator/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
Due: eslint --cache

chore(deps): refresh deps
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-antd/src/__tests__/select.test.ts
  packages/helpers-antd/src/select.ts
  packages/helpers-antd/src/types.ts
  packages/helpers-class-validator/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/webapp/package.json
  projects/webapp/src/contexts/BenchmarkContext/__tests__/reducer.test.ts
  projects/webapp/src/contexts/BenchmarkContext/adapters.ts
  projects/webapp/src/contexts/BenchmarkContext/reducer.ts
  projects/webapp/src/contexts/InspectionContext/reducer.ts
  projects/webapp/src/contexts/RenderContext/__tests__/reducer.test.ts
  projects/webapp/src/types/benchmark/index.ts
Due: eslint --cache

chore(stylelint): improve stylelint config
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  packages/rc-antd/src/AppendableField/AppendableField.module.scss
  pnpm-lock.yaml
  projects/webapp/src/components/tests/tests.module.scss
  projects/webapp/src/index.css
Due: stylelint --cache

feat: remove unused deps lodash and radash
  packages/hooks/package.json
  packages/hooks/src/__tests__/noop.ts
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils/src/function.ts
  pnpm-lock.yaml
  projects/webapp/package.json
  projects/webapp/src/utils/withMockedHooks.ts
Due: eslint --cache

feat(pkg/utils): add ArrayUtil.startsWith
  packages/utils/src/__tests__/array.test.ts
  packages/utils/src/array.ts
Due: eslint --cache

chore: move npm package, @easy-proj/server -> @easy-template/server
  easy-projs.code-workspace
  templates/server/templates/etc/nginx/nginx.conf
  templates/server/templates/etc/nginx/sites-available/example.com
  templates/server/templates/etc/nginx/sites-available/multienv.example.com
  templates/server/templates/etc/nginx/stream-available/mysql
  templates/server/templates/etc/nginx/stream-available/redis
Due: none

feat(template/server): add mysql mysqld.cnf
  templates/server/templates/etc/mysql-8.0/mysql.conf.d/mysqld.cnf
Due: none

feat(template/software): add software configs
  .gitattributes
  easy-projs.code-workspace
  templates/software/git/.gitconfig
  templates/software/oh-my-posh/yifanwww.json
  templates/software/powershell/Microsoft.PowerShell_profile.ps1
  templates/software/powershell/profile.ps1
  templates/software/ssh/config
  templates/software/vscode/react.code-snippets
  templates/software/vscode/settings.json
Due: none

chore(deps): bump husky to v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

feat(template/server): add systemd daemon service config template
  .gitattributes
  templates/server/ubuntu/etc/mysql-8.0/mysql.conf.d/mysqld.cnf
  templates/server/ubuntu/etc/nginx/nginx.conf
  templates/server/ubuntu/etc/nginx/sites-available/example.com
  templates/server/ubuntu/etc/nginx/sites-available/multienv.example.com
  templates/server/ubuntu/etc/nginx/stream-available/mysql
  templates/server/ubuntu/etc/nginx/stream-available/redis
  templates/server/ubuntu/lib/systemd/system/xxx.service
Due: none

chore(eslint): separate different naming conventions
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/.eslintrc.node.js
  configs/eslint-config/naming.js
Due: none

feat(pkg/helpers-class-validator): add IsEmptyStringIgnorable
  packages/helpers-class-validator/src/index.ts
Due: eslint --cache

feat(pkg/helpers-class-validator): add unit tests
  configs/jest-config/src/exec.ts
  configs/jest-config/src/jest.config.node-cjs-legacy-decorator.ts
  configs/jest-config/src/jest.config.node-esm-legacy-decorator.ts
  packages/helpers-class-validator/package.json
  packages/helpers-class-validator/src/__tests__/decorators.test.ts
  packages/helpers-class-validator/src/decorators.ts
  packages/helpers-class-validator/src/index.ts
  packages/helpers-class-validator/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache
