Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

feat(webapp): support mocking EXPERIMENTAL variable
  packages/utils-test/src/index.ts
  packages/utils-test/src/mockInjectedVars.ts
  projects/webapp/package.json
  projects/webapp/src/global.d.ts
  projects/webapp/vite.config.ts
Due: eslint --cache

feat(webapp): add main HTML element
  projects/webapp/src/containers/Home/Home.module.scss
  projects/webapp/src/containers/Home/Home.tsx
  projects/webapp/src/containers/Home/components/Introduction/Introduction.tsx
  projects/webapp/src/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
Due: stylelint --cache, eslint --cache

chore(deps): upgrade antd and fluentui
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
Due: none

docs: record bundle size history
  projects/bundlesize-antd/README.md
  projects/bundlesize-fluentui/README.md
Due: none

refactor: delete some meaningless barrel files
  packages/helpers-nestjs/src/auth/index.ts
  packages/helpers-nestjs/src/dto/index.ts
  packages/helpers-nestjs/src/index.ts
  packages/helpers-typeorm/src/index.ts
  packages/helpers-typeorm/src/mysql/index.ts
Due: eslint --cache

feat(template/software): update templates
  templates/software/oh-my-posh/yifanwww.json
  templates/software/vscode/settings.json
Due: none

test(pkg/fetcher): add unit tests
  packages/fetcher/src/__tests__/url.test.ts
Due: eslint --cache

feat(config/jest-config): locate jest binary file
  configs/jest-config/package.json
  configs/jest-config/src/exec.ts
Due: eslint --cache

chore: integrate bundlemon
  .bundlemonrc.json
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: integrate bundlemon
  .bundlemonrc.json
Due: none

chore: integrate bundlemon (#51)
  .bundlemonrc.json
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade antd and fluentui
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
Due: none

chore: fix pnpm lock
  pnpm-lock.yaml
Due: none

chore(deps): upgrade antd and fluentui (#52)
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
Due: none

chore: use pnpm v9
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
  package.json
  pnpm-lock.yaml
Due: none

feat(template/software): update git config, oh-my-posh theme, powershell profile and windows terminal settings
  templates/software/git/.gitconfig
  templates/software/oh-my-posh/yifanwww.json
  templates/software/oh-my-posh/yifanwww.omp.json
  templates/software/powershell/Microsoft.PowerShell_profile.ps1
  templates/software/windows-terminal/settings.json
Due: none

refactor(pkg/helpers-nestjs): rename PaginationQueryDto to ApiPaginationQueryDto
  packages/helpers-nestjs/src/dto/ApiPagination.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/ApiPagination.dto.test.ts
  packages/helpers-nestjs/src/index.ts
Due: eslint --cache

chore(deps): upgrade typescript to 5.5.4, prettier to 3.3.3, upgrade eslint plugins
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/jest-config/src/transform.file.ts
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/fetcher/package.json
  packages/fetcher/src/index.ts
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-react/package.json
  packages/helpers-react/src/index.ts
  packages/helpers-redux/package.json
  packages/helpers-redux/src/index.ts
  packages/helpers-typeorm/package.json
  packages/helpers-typeorm/src/__tests__/dataSource.test.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/helpers.ts
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/types/src/utils/basic.ts
  packages/types/src/utils/index.ts
  packages/utils-browser/package.json
  packages/utils-browser/src/storage/index.ts
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils-test/src/class.ts
  packages/utils/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/webapp/package.json
  projects/webapp/src/redux/types.ts
Due: eslint --cache

feat(helpers/nestjs): add auth guards
  packages/helpers-nestjs/package.json
  packages/helpers-nestjs/src/auth/__tests__/role.test.ts
  packages/helpers-nestjs/src/auth/constants.ts
  packages/helpers-nestjs/src/auth/guards/AuthenticationGuard.ts
  packages/helpers-nestjs/src/auth/guards/RoleGuard.ts
  packages/helpers-nestjs/src/auth/guards/constants.ts
  packages/helpers-nestjs/src/auth/role.ts
  packages/helpers-nestjs/src/auth/types/jwt.ts
  packages/helpers-nestjs/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(helpers/nestjs): add ExperimentalApiGuard
  packages/helpers-nestjs/src/guards/ExperimentalApiGuard.ts
  packages/helpers-nestjs/src/index.ts
Due: eslint --cache

feat(pkg/hooks): useIsHovered supports mask
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/useIsHovered.ts
Due: eslint --cache

docs(proj/webapp): update recommended libs
  projects/webapp/README.md
Due: none

feat(pkg/hooks): delete useToggle hook
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useToggle.ts
Due: eslint --cache

feat(pkg/hooks): add useLayoutUpdateEffect
  packages/hooks/package.json
  packages/hooks/src/__tests__/useLayoutUpdateEffect.test.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useLayoutUpdateEffect.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(pkg/hooks): add useControllableState
  packages/hooks/src/index.ts
  packages/hooks/src/useControllableState.ts
Due: eslint --cache

chore(eslint): [@typescript-eslint/prefer-string-starts-ends-with] allow single element equality
  configs/eslint-config/.eslintrc.basic.js
Due: none

refactor(proj/webapp): use destructuring for dynamic import
  projects/webapp/src/router/routes.tsx
Due: eslint --cache

feat(helpers/nestjs): add IntegerIdBodyDto
  packages/helpers-nestjs/src/dto/__tests__/param.dto.test.ts
  packages/helpers-nestjs/src/dto/param.dto.ts
Due: eslint --cache

feat(hooks): add useClientPagination
  packages/hooks/package.json
  packages/hooks/src/__tests__/useClientPagination.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useClientPagination.ts
  pnpm-lock.yaml
Due: eslint --cache

test(hooks): change file name
  packages/hooks/src/__tests__/useCompositeRef.test.ts
Due: eslint --cache

refactor: delete old pagination helpers
  packages/helpers-react/package.json
  packages/helpers-react/src/__tests__/pagination.test.ts
  packages/helpers-react/src/index.ts
  packages/helpers-react/src/pagination.ts
  packages/utils-browser/src/URLSearchParams.ts
  packages/utils-browser/src/__tests__/URLSearchParams.test.ts
  packages/utils-browser/src/__tests__/pagination.test.ts
  packages/utils-browser/src/index.ts
  packages/utils-browser/src/pagination.ts
Due: eslint --cache
