Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore(deps): Add dep `echarts`
  package-lock.json
  package.json
Due: none

feat(types): Overwrite some type declarations in global type declaration files
  packages/benchmark-javascript/src/global.d.ts
  packages/global-types/README.md
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/utils.react.d.ts
  packages/performance-react/src/global.d.ts
  packages/project-template-browser-react/src/global.d.ts
  packages/react-rerender-test/src/global.d.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-react/src/global.d.ts
  packages/utils-redux/src/global.d.ts
Due: eslint --cache

refactor(scripts): Update comments
  packages/scripts/webpack/webpack.config.ts
Due: eslint --cache

Revert "feat(types): Overwrite some type declarations in global type declaration files"
  packages/benchmark-javascript/src/global.d.ts
  packages/global-types/README.md
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/utils.react.d.ts
  packages/performance-react/src/global.d.ts
  packages/project-template-browser-react/src/global.d.ts
  packages/react-rerender-test/src/global.d.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-react/src/global.d.ts
  packages/utils-redux/src/global.d.ts
Due: eslint --cache

feat: Add package `@easy/misc`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/misc/.eslintrc.json
  packages/misc/.prettierignore
  packages/misc/README.md
  packages/misc/csharp/RandomGenerator.cs
  packages/misc/package.json
  packages/misc/ts/createEntityAdapter.ts
  packages/misc/ts/global.d.ts
  packages/misc/tsconfig.json
  packages/misc/tsconfigs/tsconfig.esm.json
  packages/misc/tsconfigs/tsconfig.types.json
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat: Try `echarts`
  packages/performance-react/src/common/benchmark.ts
  packages/performance-react/src/components/Charts/ChartContainer.tsx
  packages/performance-react/src/components/Charts/Charts.module.scss
  packages/performance-react/src/components/Charts/RoundLineChart.tsx
  packages/performance-react/src/components/Charts/index.ts
  packages/performance-react/src/containers/ChartPage/ChartPage.module.scss
  packages/performance-react/src/containers/ChartPage/ChartPage.tsx
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/contexts/BenchmarkContext.tsx
Due: stylelint --cache, eslint --cache

refactor: Refactor context state structure
  packages/global-types/lib/utils.type.d.ts
  packages/performance-react/src/common/benchmark.ts
  packages/performance-react/src/common/component.ts
  packages/performance-react/src/components/Charts/RoundLineChart.tsx
  packages/performance-react/src/components/ResultTable/ResultTable.tsx
  packages/performance-react/src/components/tests/index.ts
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/contexts/BenchmarkContext.tsx
  packages/performance-react/src/contexts/BenchmarkContext/adapters.ts
  packages/performance-react/src/contexts/BenchmarkContext/context.tsx
  packages/performance-react/src/contexts/BenchmarkContext/index.ts
  packages/performance-react/src/contexts/BenchmarkContext/types.ts
  packages/performance-react/src/hooks/useComponentKeys.ts
  packages/performance-react/src/hooks/useOptimization.ts
Due: eslint --cache

feat(performance-react): Add `BenchmarkLineChart`
  packages/performance-react/src/common/benchmark.ts
  packages/performance-react/src/common/component.ts
  packages/performance-react/src/components/Charts/BenchmarkLineChart.tsx
  packages/performance-react/src/components/Charts/ChartContainer.tsx
  packages/performance-react/src/components/Charts/Charts.module.scss
  packages/performance-react/src/components/Charts/RoundLineChart.tsx
  packages/performance-react/src/components/Charts/index.ts
  packages/performance-react/src/components/InputWrapper/InputWrapper.tsx
  packages/performance-react/src/components/ResultTable/ResultTable.tsx
  packages/performance-react/src/components/tests/index.ts
  packages/performance-react/src/containers/ChartPage/ChartPage.module.scss
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/containers/configs.ts
  packages/performance-react/src/contexts/BenchmarkContext/adapters.ts
  packages/performance-react/src/contexts/BenchmarkContext/context.tsx
  packages/performance-react/src/contexts/BenchmarkContext/types.ts
  packages/performance-react/src/hooks/index.ts
  packages/performance-react/src/hooks/useComponentKeys.ts
  packages/performance-react/src/hooks/useComponentNames.ts
  packages/performance-react/src/hooks/useOptimization.ts
  packages/performance-react/src/index.tsx
Due: stylelint --cache, eslint --cache

feat(performance-react): Add `BarChartPage`, rename `BenchmarkLineChart` to `LineChartPage`
  packages/performance-react/src/common/route.ts
  packages/performance-react/src/components/Charts/index.ts
  packages/performance-react/src/containers/ChartPage/BarChartPage.tsx
  packages/performance-react/src/containers/ChartPage/ChartPage.module.scss
  packages/performance-react/src/containers/ChartPage/ChartPage.tsx
  packages/performance-react/src/containers/ChartPage/Charts.module.scss
  packages/performance-react/src/containers/ChartPage/LineChartPage.tsx
  packages/performance-react/src/containers/ChartPage/index.ts
  packages/performance-react/src/containers/HomePage/HomePage.tsx
  packages/performance-react/src/containers/configs.ts
  packages/performance-react/src/contexts/BenchmarkContext/context.tsx
  packages/performance-react/src/contexts/BenchmarkContext/types.ts
Due: stylelint --cache, eslint --cache

feat(performance-react): Change how to test
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/hooks/index.ts
  packages/performance-react/src/hooks/useComponentNames.ts
  packages/performance-react/src/hooks/useGroupTest.ts
  packages/performance-react/src/hooks/useMultipleTest.ts
  packages/performance-react/src/hooks/useOptimization.ts
  packages/performance-react/src/hooks/useRound.ts
  packages/performance-react/src/hooks/useTest.ts
Due: eslint --cache

fix: Fix bug when group testing
  package-lock.json
  package.json
  packages/performance-react/src/hooks/useGroupTest.ts
Due: eslint --cache

feat: use `React.FC` and `React.VFC` to make function components
  packages/hooks/README.md
  packages/performance-react/src/components/InputWrapper/InputWrapper.tsx
  packages/performance-react/src/components/Page/Page.tsx
  packages/performance-react/src/components/PageOverview/PageOverview.tsx
  packages/performance-react/src/components/ResultTable/ResultTable.tsx
  packages/performance-react/src/containers/ChartPage/BarChartPage.tsx
  packages/performance-react/src/containers/ChartPage/LineChartPage.tsx
  packages/performance-react/src/containers/HomePage/HomePage.tsx
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/index.tsx
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-browser-react/src/components/Introduction/Introduction.tsx
  packages/project-template-browser-react/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Note/Note.tsx
  packages/react-rerender-test/src/components/Page/Page.tsx
  packages/react-rerender-test/src/components/Page/PageContainer.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/RenderOrderList/GroupSelector.tsx
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/Controller.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/Controller.tsx
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/Controller.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/Controller.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/index.tsx
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
Due: eslint --cache

feat(hooks): Add new hooks
  packages/benchmark-javascript/README.md
  packages/hooks/CHANGELOG.md
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/useIsMounted.test.tsx
  packages/hooks/src/__tests__/useSingleInterval.test.tsx
  packages/hooks/src/__tests__/useSingleTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useDoubleTrigger.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useIsMounted.ts
  packages/hooks/src/useSingleInterval.ts
  packages/hooks/src/useSingleTimeout.ts
  packages/hooks/src/useTimeout.ts
Due: eslint --cache

Bump package `@easy/hooks` version to v0.4.0
  package-lock.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
Due: none

refactor: Improve code style
  packages/performance-react/src/components/Page/Page.tsx
  packages/performance-react/src/components/PageOverview/PageOverview.tsx
  packages/performance-react/src/contexts/BenchmarkContext/context.tsx
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Page/Page.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/RenderOrderList/GroupSelector.tsx
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
  packages/react-rerender-test/src/contexts/RenderContext.tsx
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
Due: eslint --cache

chore(deps): Upgrade `eslint-config-airbnb-typescript` to v16.1.0
  package-lock.json
  package.json
Due: none

feat(utils-redux): Delete type `ThunkArgsAction`
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.ts
Due: eslint --cache

feat(hooks): Improve `usePersistFn` by using only one `useRef`
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/usePersistFn.ts
Due: eslint --cache

chore: Add npm script `dev` in not-react packages
  packages/benchmark-javascript/package.json
  packages/demo-test-nodejs/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/package-template-nodejs/package.json
  packages/performance-javascript/package.json
  packages/project-template-nodejs/package.json
  packages/projs-manage/package.json
  packages/random-string/package.json
  packages/scripts/package.json
  packages/utils-fluentui/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
Due: none

refactor: Move some global types into `@easy/utils-type`
  packages/global-types/lib/utils.type.d.ts
  packages/utils-fluentui/src/styles.ts
  packages/utils-fluentui/src/tokens.ts
  packages/utils-redux/src/omitUnderscorePrefixActions.ts
  packages/utils-type/CHANGELOG.md
  packages/utils-type/src/index.ts
  packages/utils-type/src/utils.ts
Due: eslint --cache

feat(misc): Improve `createEntityAdapter`
  packages/misc/ts/createEntityAdapter.ts
Due: eslint --cache

feat(types): Add some new type utilities
  packages/global-types/lib/utils.type.d.ts
  packages/utils-type/CHANGELOG.md
  packages/utils-type/src/utils.ts
Due: eslint --cache

feat(test): Refactor test, add `mockConsoleToMatchSnapshot`
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/test.d.ts
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/project-template-browser-react/src/components/Introduction/Introduction.test.tsx
  packages/project-template-browser-react/src/redux/actions/reducers.DisplayConfig.test.ts
  packages/project-template-browser-react/src/redux/actions/reducers.DisplayConfig.ts
  packages/project-template-browser-react/src/redux/actions/reducers.test.ts
  packages/utils-test/CHANGELOG.md
  packages/utils-test/src/console.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/setup.ts
  packages/utils-test/src/utils.ts
Due: eslint --cache

fix: Fix tests
  packages/demo-test-nodejs/src/index.test.ts
  packages/memorize/src/index.test.ts
  packages/package-template-nodejs/src/index.test.ts
  packages/project-template-nodejs/src/index.test.ts
  packages/random-string/src/index.test.ts
Due: eslint --cache

Bump version to v0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): Refresh deps, upgrade `react-scripts` to v5.0.0
  package-lock.json
  package.json
  packages/eslint-config/index.js
  packages/scripts/jest/jest.config.ts
Due: eslint --cache

docs: Update CHANGELOG
  CHANGELOG.md
Due: none

feat(pref-js): Add tests
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/perf-js/.eslintrc.json
  packages/perf-js/.prettierignore
  packages/perf-js/CHANGELOG.md
  packages/perf-js/README.md
  packages/perf-js/package.json
  packages/perf-js/src/RegExp.ts
  packages/perf-js/src/global.d.ts
  packages/perf-js/src/optionalParameterDefaultValue.ts
  packages/perf-js/src/string.ts
  packages/perf-js/tsconfig.json
  packages/perf-js/tsconfig.node.json
  packages/performance-javascript/CHANGELOG.md
  packages/performance-javascript/src/index.ts
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat(performance-react): Change group test solution
  packages/performance-react/src/hooks/useGroupTest.ts
Due: eslint --cache

refactor(benchmark-js): Rename `@easy/benchmark-javascript` to `@easy/benchmark-js`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/benchmark-js/.eslintrc.json
  packages/benchmark-js/.prettierignore
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/README.md
  packages/benchmark-js/package.json
  packages/benchmark-js/src/benchmark.ts
  packages/benchmark-js/src/benchmarkBase.ts
  packages/benchmark-js/src/constants.ts
  packages/benchmark-js/src/global.d.ts
  packages/benchmark-js/src/index.ts
  packages/benchmark-js/src/utils.ts
  packages/benchmark-js/test/string-indexof.ts
  packages/benchmark-js/tsconfig.json
  packages/benchmark-js/tsconfigs/tsconfig.cjs.json
  packages/benchmark-js/tsconfigs/tsconfig.dist.json
  packages/benchmark-js/tsconfigs/tsconfig.esm.json
  packages/benchmark-js/tsconfigs/tsconfig.types.json
  packages/perf-js/src/RegExp.ts
  packages/perf-js/src/optionalParameterDefaultValue.ts
  packages/perf-js/src/string.ts
  packages/scripts/utils/bin.ts
Due: eslint --cache

chore: Speed up compilation
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat(benchmark-js): Add argument `getArgs`
  packages/benchmark-js/src/benchmark.ts
Due: eslint --cache

feat(benchmark-js): Add `BenchmarkGroup`
  packages/benchmark-js/src/BenchmarkGroup.ts
  packages/benchmark-js/src/benchmark.ts
  packages/benchmark-js/src/benchmarkBase.ts
  packages/benchmark-js/src/index.ts
  packages/benchmark-js/src/types.ts
Due: eslint --cache

perf(benchmark-js): Reduce the performance cost of calculating time
  packages/benchmark-js/src/benchmark.ts
  packages/benchmark-js/src/utils.ts
Due: eslint --cache

refactor(benchmark-js): Change unit
  packages/benchmark-js/src/BenchmarkGroup.ts
  packages/benchmark-js/src/TimeUnitUtil.ts
  packages/benchmark-js/src/benchmark.ts
  packages/benchmark-js/src/types.internal.ts
  packages/benchmark-js/src/types.ts
  packages/benchmark-js/src/utils.ts
Due: eslint --cache

feat(benchmark-js): Delete argument `getArgs`
  packages/benchmark-js/src/BenchmarkGroup.ts
  packages/benchmark-js/src/benchmark.ts
  packages/benchmark-js/src/types.ts
Due: eslint --cache

fix(benchmark-js): Fix file name
  packages/benchmark-js/src/Benchmark.ts
Due: eslint --cache

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
