Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

feat(benchmark-js): Delete methods `Benchmark.writeTestersCode` and `BenchmarkJob.writeTesterCode`
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/Benchmark.ts
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/test/benchmark.ts
Due: eslint --cache

feat(benchmark-js): Change stages to Jitting, Pilot and Formal
  packages/benchmark-js/src/Benchmark.ts
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/constants/StagePrefix.ts
  packages/benchmark-js/src/constants/index.ts
  packages/benchmark-js/src/constants/math.ts
  packages/benchmark-js/src/tools/CodeGen.ts
  packages/benchmark-js/src/tools/ConsoleLogger.ts
  packages/benchmark-js/src/tools/Logger.ts
  packages/benchmark-js/src/tools/Stats.ts
  packages/benchmark-js/src/tools/__tests__/__snapshots__/CodeGen.test.ts.snap
  packages/benchmark-js/src/tools/tools.ts
Due: eslint --cache

feat(benchmark-js): Change `BenchmarkJobOptions`
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/options/Settings.ts
  packages/benchmark-js/src/options/__tests__/Settings.test.ts
  packages/benchmark-js/src/test.setup.ts
  packages/benchmark-js/src/tools/__tests__/__snapshots__/Stats.test.ts.snap
  packages/benchmark-js/src/types.ts
Due: eslint --cache

refactor(benchmark-js): Add BenchmarkRunner
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
  packages/benchmark-js/src/constants/StagePrefix.ts
  packages/benchmark-js/src/options/Settings.ts
  packages/benchmark-js/src/options/__tests__/Settings.test.ts
  packages/benchmark-js/src/types.ts
Due: eslint --cache

chore(tsconfig): Add warnings in tsconfigs
  packages/tsconfigs/tsconfig.base.json
Due: none

feat(benchmark-js): Add `Arguments` to specify the arguments passed to test fn
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
  packages/benchmark-js/src/ConfigOptions/Arguments.ts
  packages/benchmark-js/src/ConfigOptions/Params.ts
  packages/benchmark-js/src/ConfigOptions/index.ts
  packages/benchmark-js/src/index.ts
  packages/benchmark-js/src/options/TestFnOptions.ts
  packages/benchmark-js/src/options/__tests__/TestFnOptions.test.ts
  packages/benchmark-js/src/tools/CodeGen.ts
  packages/benchmark-js/src/types.internal.ts
  packages/benchmark-js/src/types.ts
  packages/benchmark-js/test/benchmark.ts
  packages/perf-js/src/BuildString.ts
  packages/perf-js/src/DefaultFunctionParameter.ts
Due: eslint --cache

fix(benchmark-js): Fix wrong elapsed time per op in jitting benchmark
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
Due: eslint --cache

feat(benchmark-js): Improve jitting benchmark
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
Due: eslint --cache

feat(benchmark-js): Print Node.js version
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
Due: eslint --cache

feat(benchmark-js): Add more statistic data
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
  packages/benchmark-js/src/Enums/StagePrefix.ts
  packages/benchmark-js/src/Enums/index.ts
  packages/benchmark-js/src/constants/math.ts
  packages/benchmark-js/src/options/Settings.ts
  packages/benchmark-js/src/options/__tests__/Settings.test.ts
  packages/benchmark-js/src/tools/MathTool.ts
  packages/benchmark-js/src/tools/Stats.ts
  packages/benchmark-js/src/tools/TimeTool.ts
  packages/benchmark-js/src/tools/__tests__/MathTool.test.ts
  packages/benchmark-js/src/tools/__tests__/Stats.test.ts
  packages/benchmark-js/src/tools/__tests__/__snapshots__/Stats.test.ts.snap
  packages/benchmark-js/src/tools/__tests__/tools.test.ts
  packages/benchmark-js/src/tools/tools.ts
  packages/benchmark-js/src/types.internal.ts
  packages/benchmark-js/src/types.ts
Due: eslint --cache

feat(benchmark-js): Add markdown table for printing benchmark results
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/src/Benchmark.ts
  packages/benchmark-js/src/BenchmarkJob.ts
  packages/benchmark-js/src/BenchmarkRunner.ts
  packages/benchmark-js/src/View/Column.ts
  packages/benchmark-js/src/View/Table.ts
  packages/benchmark-js/src/View/index.ts
  packages/benchmark-js/src/tools/Stats.ts
Due: eslint --cache

fix(benchmark-js): Fix tests
  packages/benchmark-js/src/tools/__tests__/Stats.test.ts
  packages/benchmark-js/src/tools/__tests__/__snapshots__/Stats.test.ts.snap
Due: eslint --cache

Bump package `@easy/benchmark-js` version to v0.4.0
  package-lock.json
  packages/benchmark-js/CHANGELOG.md
  packages/benchmark-js/package.json
Due: none

docs: Updata CHANGELOG
  CHANGELOG.md
Due: none

chore(deps): Upgarde dependency `benchmark-node` to v0.5.0
  package-lock.json
  package.json
  packages/perf-js/src/BuildString.ts
  packages/perf-js/src/DefaultFunctionParameter.ts
Due: eslint --cache

feat(react-hooks-nodom): Add new package `react-hooks-nodom`
  easy-projs.code-workspace
  package-lock.json
  packages/react-hooks-nodom/.env
  packages/react-hooks-nodom/.eslintrc.json
  packages/react-hooks-nodom/.prettierignore
  packages/react-hooks-nodom/README.md
  packages/react-hooks-nodom/package.json
  packages/react-hooks-nodom/src/global.d.ts
  packages/react-hooks-nodom/src/v17.0.2/dev/index.ts
  packages/react-hooks-nodom/src/v17.0.2/prod/index.ts
  packages/react-hooks-nodom/tsconfig.json
  packages/react-hooks-nodom/tsconfigs/tsconfig.cjs.json
  packages/react-hooks-nodom/tsconfigs/tsconfig.esm.json
  packages/react-hooks-nodom/tsconfigs/tsconfig.types.json
  packages/scripts/src/utils/bin.ts
Due: eslint --cache

chore(deps): Remove some unused deps
  package-lock.json
  package.json
Due: none

chore(scripts): Support additional arguments when do unit test
  packages/scripts/src/utils/bin.ts
Due: eslint --cache

chore: Enable Typescript Compiler option `useDefineForClassFields`
  packages/tsconfigs/tsconfig.base.json
Due: none

chore: Enable Babel Typescript preset option `allowDeclareFields`
  packages/scripts/src/jest/transform.babel.ts
Due: eslint --cache

chore: Update gitattributes
  .gitattributes
Due: none

chore(deps): Upgrade dependency `benchmark-node` to v0.6.0
  package-lock.json
  package.json
Due: none

feat(cra-check): Delete old check files
  packages/cra-check/projs/2021-07-13/.gitignore
  packages/cra-check/projs/2021-07-13/README.md
  packages/cra-check/projs/2021-07-13/package.json
  packages/cra-check/projs/2021-07-13/public/favicon.ico
  packages/cra-check/projs/2021-07-13/public/index.html
  packages/cra-check/projs/2021-07-13/public/logo192.png
  packages/cra-check/projs/2021-07-13/public/logo512.png
  packages/cra-check/projs/2021-07-13/public/manifest.json
  packages/cra-check/projs/2021-07-13/public/robots.txt
  packages/cra-check/projs/2021-07-13/src/App.css
  packages/cra-check/projs/2021-07-13/src/App.test.tsx
  packages/cra-check/projs/2021-07-13/src/App.tsx
  packages/cra-check/projs/2021-07-13/src/index.css
  packages/cra-check/projs/2021-07-13/src/index.tsx
  packages/cra-check/projs/2021-07-13/src/logo.svg
  packages/cra-check/projs/2021-07-13/src/react-app-env.d.ts
  packages/cra-check/projs/2021-07-13/src/reportWebVitals.ts
  packages/cra-check/projs/2021-07-13/src/setupTests.ts
  packages/cra-check/projs/2021-07-13/tsconfig.json
  packages/cra-check/projs/2021-07-13/yarn.lock
Due: stylelint --cache, eslint --cache

chore(tsconfig): Disable option `namedExports` of plugin `typescript-plugin-css-modules`
  packages/tsconfigs/tsconfig.base.json
Due: none

feat(misc): Sync `createEntityAdapter`
  packages/misc/ts/createEntityAdapter.test.ts
  packages/misc/ts/createEntityAdapter.ts
Due: eslint --cache

chore: Improve eslint rule `react-hooks/exhaustive-deps`
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/index.js
Due: none

chore(deps): Upgrade `typescript` to exact v4.6.3
  package-lock.json
  package.json
  packages/eslint-config/.eslintrc.js
  packages/perf-js/src/BuildString.ts
  packages/perf-js/src/DefaultFunctionParameter.ts
  packages/scripts/src/jest/jest.config.ts
  packages/utils-redux/src/types.ts
Due: eslint --cache

chore(git): Update gitattributes
  .gitattributes
Due: none

chore(jest): Store jest cache inside this project
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/utils/paths.ts
Due: eslint --cache

refactor: Rename `useMount` and `useUnmount` to `useMountEffect` and `useUnmountEffect`
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useMountEffect.ts
  packages/hooks/src/useUnmountEffect.ts
Due: eslint --cache

feat(global-types): Add type util `LooseArray`
  packages/global-types/lib/utils.type.d.ts
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
Due: eslint --cache

feat(global-types): Add type util `LooseReadonlyArray`
  packages/global-types/lib/utils.type.d.ts
Due: eslint --cache

chore(eslint): Improve ESLint configs
  packages/eslint-config/.eslintrc.js
  packages/memorize/src/index.ts
  packages/perf-react/src/components/ResultTable/ResultTable.tsx
  packages/random-string/src/index.ts
  packages/random-string/test/performance.ts
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/scripts/src/utils/bin.ts
  packages/utils-test/src/hook.ts
Due: eslint --cache

feat(types): Improve `LooseArray`, delete `LooseReadonlyArray`
  packages/global-types/lib/utils.type.d.ts
Due: eslint --cache

chore(eslint): Disable eslint rule `default-case`
  packages/eslint-config/.eslintrc.js
  packages/perf-react/src/contexts/BenchmarkContext/context.tsx
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
  packages/react-rerender-test/src/contexts/RenderContext.tsx
  packages/utils-react/README.md
Due: eslint --cache

chore(jest): Improve jest configs
  packages/scripts/src/jest/jest.config.ts
Due: eslint --cache

feat(types): Improve type of Array.isArray
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/typescript/lib.es5.d.ts
  packages/react-rerender-test/src/hooks/useInspectedFCType.tsx
Due: eslint --cache

feat(type): Add type util `IsEmptyObject`
  packages/utils-type/src/utils.ts
Due: eslint --cache

chore(eslint): Improve configs about no-console
  packages/eslint-config/.eslintrc.js
  packages/hooks/src/useWhyDidYouUpdate.ts
  packages/misc/ts/createEntityAdapter.ts
  packages/projs-manage/.eslintrc.json
  packages/scripts/.eslintrc.json
  packages/template-proj-browser-react/src/index.tsx
Due: eslint --cache
