Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore(deps): refresh deps
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/scripts/package.json
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  configs/tsconfigs/tsconfig.node16.json
  package.json
  packages/assets/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-antd/src/namePath.ts
  packages/helpers-react-router/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/template-nodejs/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/proving-ground-nodejs/package.json
  projects/web-app/package.json
Due: eslint --cache

refactor: format code
  projects/web-app/index.html
Due: none

chore(deps): refresh deps (#43)
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/scripts/package.json
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  configs/tsconfigs/tsconfig.node16.json
  package.json
  packages/assets/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-antd/src/namePath.ts
  packages/helpers-react-router/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/template-nodejs/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/proving-ground-nodejs/package.json
  projects/web-app/index.html
  projects/web-app/package.json
Due: eslint --cache

chore(stylelint): add links for each rule
  configs/stylelint-config/index.js
Due: none

chore(jest): polyfill whatwg-fetch
  configs/scripts/package.json
  configs/scripts/src/jest/jest.config.ts
  configs/scripts/src/jest/jest.setup.ts
  configs/scripts/src/jest/whatwg-fetch.d.ts
  configs/scripts/src/utils/paths.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(jest): fix jest module name mappers
  configs/scripts/src/jest/jest.config.ts
Due: eslint --cache

chore(tsconfig): exclude __mocks__ folders
  packages/assets/tsconfigs/tsconfig.lib.json
  packages/assets/tsconfigs/tsconfig.types.json
  packages/fetcher/tsconfigs/tsconfig.lib.json
  packages/fetcher/tsconfigs/tsconfig.types.json
  packages/helpers-antd/tsconfigs/tsconfig.lib.json
  packages/helpers-antd/tsconfigs/tsconfig.types.json
  packages/helpers-react-router/tsconfigs/tsconfig.lib.json
  packages/helpers-react-router/tsconfigs/tsconfig.types.json
  packages/helpers-react/tsconfigs/tsconfig.lib.json
  packages/helpers-react/tsconfigs/tsconfig.types.json
  packages/helpers-redux/tsconfigs/tsconfig.lib.json
  packages/helpers-redux/tsconfigs/tsconfig.types.json
  packages/hooks/tsconfigs/tsconfig.lib.json
  packages/hooks/tsconfigs/tsconfig.types.json
  packages/memorize/tsconfigs/tsconfig.lib.json
  packages/memorize/tsconfigs/tsconfig.types.json
  packages/random-string/tsconfigs/tsconfig.lib.json
  packages/random-string/tsconfigs/tsconfig.types.json
  packages/template-nodejs/tsconfigs/tsconfig.lib.json
  packages/template-nodejs/tsconfigs/tsconfig.types.json
  packages/utils-browser/tsconfigs/tsconfig.lib.json
  packages/utils-browser/tsconfigs/tsconfig.types.json
  packages/utils-node/tsconfigs/tsconfig.lib.json
  packages/utils-node/tsconfigs/tsconfig.types.json
  packages/utils-test/tsconfigs/tsconfig.lib.json
  packages/utils-test/tsconfigs/tsconfig.types.json
  packages/utils-type/tsconfigs/tsconfig.lib.json
  packages/utils-type/tsconfigs/tsconfig.types.json
  packages/utils/tsconfigs/tsconfig.lib.json
  packages/utils/tsconfigs/tsconfig.types.json
  projects/misc-scripts/tsconfig.node.json
  projects/misc/tsconfigs/tsconfig.lib.json
  projects/misc/tsconfigs/tsconfig.types.json
  projects/perf-js/tsconfig.node.json
  projects/proving-ground-nodejs/tsconfig.node.json
Due: none

feat: add Optional type
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils-type/src/utils.ts
  projects/web-app/src/hooks/useInspectedFCType.tsx
Due: eslint --cache

chore(npm): fix dev script
  packages/fetcher/package.json
  packages/memorize/package.json
Due: none

chore(eslint): use @typescript-eslint/no-useless-constructor instead
  configs/eslint-config/.eslintrc.basic.js
Due: none

refactor: don't use global JSX namespace
  packages/helpers-react/README.md
  packages/hooks/README.md
  projects/misc/vscode/yifanwww-react.code-snippets
  projects/web-app/src/app.tsx
  projects/web-app/src/components/ComponentView/ComponentView.tsx
  projects/web-app/src/components/InputWrapper/InputWrapper.tsx
  projects/web-app/src/components/Page/Page.tsx
  projects/web-app/src/components/Page/PageSider.tsx
  projects/web-app/src/components/RenderOrderList/GroupSelector.tsx
  projects/web-app/src/components/ResultTable/ResultTable.tsx
  projects/web-app/src/components/TestPageContainer/Note.tsx
  projects/web-app/src/components/TestPageContainer/TestPageContainer.tsx
  projects/web-app/src/contexts/BenchmarkContext/context.tsx
  projects/web-app/src/contexts/InspectionContext/context.tsx
  projects/web-app/src/contexts/RenderContext/context.tsx
  projects/web-app/src/hooks/useInspectedFCType.tsx
  projects/web-app/src/pages/HomePage/HomePage.tsx
  projects/web-app/src/pages/HomePage/components/PageOverview/PageOverview.tsx
  projects/web-app/src/pages/PerfTest/ChartPage/BarChartPage.tsx
  projects/web-app/src/pages/PerfTest/ChartPage/LineChartPage.tsx
  projects/web-app/src/pages/PerfTest/HomePage/HomePage.tsx
  projects/web-app/src/pages/PerfTest/HomePage/components/PageOverview/PageOverview.tsx
  projects/web-app/src/pages/PerfTest/TestPage/TestPage.tsx
  projects/web-app/src/pages/RerenderTest/ChangeLevelPage/ChangeLevelPage.tsx
  projects/web-app/src/pages/RerenderTest/ChangeParentPage/ChangeParentPage.tsx
  projects/web-app/src/pages/RerenderTest/HomePage/HomePage.tsx
  projects/web-app/src/pages/RerenderTest/HomePage/components/PageOverview/PageOverview.tsx
  projects/web-app/src/pages/RerenderTest/NestedFCPage/NestedFCPage.tsx
  projects/web-app/src/pages/RerenderTest/RerenderParentPage/RerenderParentPage.tsx
  projects/web-app/src/pages/RerenderTest/RouterPage/RouterPage.tsx
Due: eslint --cache

feat: add makeFn util fn
  packages/utils/src/__tests__/function.test.ts
  packages/utils/src/function.ts
Due: eslint --cache

chore(eslint): change options of @typescript-eslint/no-unused-vars
  configs/eslint-config/.eslintrc.basic.js
Due: none

chore(eslint): move rule position
  configs/eslint-config/.eslintrc.basic.js
Due: none

chore(eslint): disable `react/no-unescaped-entities`
  configs/eslint-config/.eslintrc.react.js
Due: none

chore(deps): don't explicitly specify jest-resolve
  configs/scripts/package.json
  pnpm-lock.yaml
Due: none

chore: add new pkg `@easy-pkg/rc-antd`
  easy-projs.code-workspace
  packages/rc-antd/.eslintrc.json
  packages/rc-antd/.prettierignore
  packages/rc-antd/.stylelintrc.json
  packages/rc-antd/README.md
  packages/rc-antd/package.json
  packages/rc-antd/src/global.d.ts
  packages/rc-antd/src/index.ts
  packages/rc-antd/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache

feat: add AppendableField
  packages/rc-antd/package.json
  packages/rc-antd/src/AppendableField/AppendableField.module.scss
  packages/rc-antd/src/AppendableField/AppendableField.tsx
  packages/rc-antd/src/AppendableField/index.ts
  packages/rc-antd/src/global.d.ts
  packages/rc-antd/src/types.ts
  pnpm-lock.yaml
Due: stylelint --cache, eslint --cache

feat: add Readonlyable
  packages/rc-antd/package.json
  packages/rc-antd/src/Readonlyable/Readonlyable.tsx
  packages/rc-antd/src/Readonlyable/ReadonlyableContext.ts
  packages/rc-antd/src/Readonlyable/index.ts
  packages/rc-antd/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache

feat: delete @easy-pkg/helpers-react-router
  easy-projs.code-workspace
  packages/helpers-react-router/.eslintrc.json
  packages/helpers-react-router/.prettierignore
  packages/helpers-react-router/README.md
  packages/helpers-react-router/package.json
  packages/helpers-react-router/src/createRoutes.ts
  packages/helpers-react-router/src/global.d.ts
  packages/helpers-react-router/src/index.ts
  packages/helpers-react-router/src/types.ts
  packages/helpers-react-router/tsconfig.json
  packages/helpers-react-router/tsconfigs/tsconfig.lib.json
  packages/helpers-react-router/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  projects/web-app/package.json
Due: eslint --cache

refactor: rename contexts
  projects/web-app/src/components/Inspector/Inspector.tsx
  projects/web-app/src/components/RenderOrderList/RenderOrderList.tsx
  projects/web-app/src/containers/PerfTest/Test/Test.tsx
  projects/web-app/src/containers/RerenderTest/makeInspectedFC.tsx
  projects/web-app/src/contexts/BenchmarkContext/context.tsx
  projects/web-app/src/contexts/BenchmarkContext/index.ts
  projects/web-app/src/contexts/InspectionContext/context.tsx
  projects/web-app/src/contexts/InspectionContext/index.ts
Due: eslint --cache

feat(utils-test): add env mocker
  packages/utils-test/src/global.d.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/mockEnv.ts
Due: eslint --cache

refactor: change context naming convention
  packages/rc-antd/src/Readonlyable/ReadonlyableContext.ts
  projects/web-app/src/contexts/BenchmarkContext/context.tsx
  projects/web-app/src/contexts/BenchmarkContext/reducer.ts
  projects/web-app/src/contexts/BenchmarkContext/types.ts
  projects/web-app/src/contexts/InspectionContext/context.tsx
  projects/web-app/src/contexts/InspectionContext/reducer.ts
  projects/web-app/src/contexts/InspectionContext/types.ts
  projects/web-app/src/contexts/RenderContext/context.tsx
  projects/web-app/src/contexts/RenderContext/types.ts
Due: eslint --cache

feat(helpers-antd): add NamePathUtil.startsWith
  packages/helpers-antd/src/__tests__/namePath.test.ts
  packages/helpers-antd/src/namePath.ts
Due: eslint --cache

feat(rc-antd): add fieldsLength parameter
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): add onAdd event
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): add getDeletable fn prop
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): rename getAdd to getAddValue
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): move disableButtonBlock, addText and addTooltip into addButtonOptions prop
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): support setting position of add button
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

feat(rc-antd): inherit original type to use name and rules
  packages/rc-antd/src/AppendableField/AppendableField.tsx
  packages/rc-antd/src/types.ts
Due: eslint --cache

feat(rc-antd): rename onRemove to onRemoved
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: eslint --cache

chore: require node above v20
  .github/workflows/regular.yml
  configs/scripts/package.json
  package.json
  packages/random-string/package.json
  packages/template-nodejs/package.json
  packages/utils-node/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/proving-ground-nodejs/package.json
Due: none

chore(github): rename github actions
  .github/workflows/regular.yml
Due: none

chore: add eslint configuration for node env
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/.eslintrc.node.js
  configs/eslint-config/.eslintrc.react.js
  configs/scripts/.eslintrc.json
  packages/random-string/.eslintrc.json
  packages/template-nodejs/.eslintrc.json
  packages/utils-node/.eslintrc.json
  projects/misc-scripts/.eslintrc.json
  projects/perf-js/.eslintrc.json
  projects/proving-ground-nodejs/.eslintrc.json
Due: none

chore: specify env es2020 in eslint config
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/.eslintrc.react.js
Due: none

chore: no files.exclude in vscode workspace file
  easy-projs.code-workspace
Due: none

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
