Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore(deps): Add deps
  package-lock.json
  package.json
Due: none

feat(utils-react): Add utils for `onRenderXXX` callbacks, delete `clns`
  package-lock.json
  package.json
  packages/utils-react/README.md
  packages/utils-react/package.json
  packages/utils-react/src/clns.ts
  packages/utils-react/src/index.ts
  packages/utils-react/src/onRender.tsx
  packages/utils-react/tsconfigs/tsconfig.esm.json
  packages/utils-react/tsconfigs/tsconfig.types.json
Due: eslint --cache

feat(global-types): Add eslint check for global-types and fix it
  packages/global-types/.eslintrc.json
  packages/global-types/lib/assets.d.ts
  packages/global-types/lib/test.d.ts
  packages/global-types/lib/utils.type.d.ts
  packages/global-types/package.json
  packages/scripts/utils/bin.ts
Due: eslint --cache

docs: Update
  package-lock.json
  packages/utils-react/CHANGELOG.md
  packages/utils-react/package.json
Due: none

feat(project-template-browser-react): Initialize FluentUI icons, add `test.setup.ts`
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-browser-react/src/components/Introduction/Introduction.module.scss
  packages/project-template-browser-react/src/components/Introduction/Introduction.tsx
  packages/project-template-browser-react/src/components/Introduction/__snapshots__/Introduction.test.tsx.snap
  packages/project-template-browser-react/src/containers/ClientArea.tsx
  packages/project-template-browser-react/src/containers/ClientArea/ClientArea.module.scss
  packages/project-template-browser-react/src/containers/ClientArea/ClientArea.tsx
  packages/project-template-browser-react/src/containers/ClientArea/index.ts
  packages/project-template-browser-react/src/index.css
  packages/project-template-browser-react/src/index.tsx
  packages/project-template-browser-react/src/test.setup.ts
Due: stylelint --cache, eslint --cache

feat: Add package `@easy/assets`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/assets/.eslintrc.json
  packages/assets/.prettierignore
  packages/assets/README.md
  packages/assets/assets/logo.svg
  packages/assets/package.json
  packages/assets/src/__snapshots__/index.test.ts.snap
  packages/assets/src/global.d.ts
  packages/assets/src/index.test.ts
  packages/assets/src/index.ts
  packages/assets/tsconfig.json
  packages/assets/tsconfigs/tsconfig.esm.json
  packages/assets/tsconfigs/tsconfig.types.json
  packages/project-template-browser-react/src/components/Introduction/Introduction.tsx
  packages/project-template-browser-react/src/components/Introduction/logo.svg
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat: Add package `@easy/react-rerender-test`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/react-renderer-test/.env
  packages/react-renderer-test/.eslintrc.json
  packages/react-renderer-test/.prettierignore
  packages/react-renderer-test/.stylelintrc.json
  packages/react-renderer-test/CHANGELOG.md
  packages/react-renderer-test/README.md
  packages/react-renderer-test/package.json
  packages/react-renderer-test/public/index.html
  packages/react-renderer-test/public/manifest.json
  packages/react-renderer-test/src/components/Introduction/Introduction.module.scss
  packages/react-renderer-test/src/components/Introduction/Introduction.tsx
  packages/react-renderer-test/src/components/Introduction/index.ts
  packages/react-renderer-test/src/components/Introduction/logo.svg
  packages/react-renderer-test/src/global.d.ts
  packages/react-renderer-test/src/index.css
  packages/react-renderer-test/src/index.tsx
  packages/react-renderer-test/tsconfig.json
Due: stylelint --cache, eslint --cache

chore(deps): Add dev deps
  package-lock.json
  package.json
Due: none

refactor: Fix name `@easy/react-renderer-test` to `@easy/react-rerender-test`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/react-renderer-test/src/components/Introduction/logo.svg
  packages/react-rerender-test/.env
  packages/react-rerender-test/.eslintrc.json
  packages/react-rerender-test/.prettierignore
  packages/react-rerender-test/.stylelintrc.json
  packages/react-rerender-test/CHANGELOG.md
  packages/react-rerender-test/README.md
  packages/react-rerender-test/package.json
  packages/react-rerender-test/public/index.html
  packages/react-rerender-test/public/manifest.json
  packages/react-rerender-test/src/components/Introduction/Introduction.module.scss
  packages/react-rerender-test/src/components/Introduction/Introduction.tsx
  packages/react-rerender-test/src/components/Introduction/index.ts
  packages/react-rerender-test/src/global.d.ts
  packages/react-rerender-test/src/index.css
  packages/react-rerender-test/src/index.tsx
  packages/react-rerender-test/tsconfig.json
  packages/scripts/utils/bin.ts
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Add multi initial pages
  packages/react-rerender-test/src/common.ts
  packages/react-rerender-test/src/components/Introduction/Introduction.module.scss
  packages/react-rerender-test/src/components/Introduction/Introduction.tsx
  packages/react-rerender-test/src/components/Page/Page.tsx
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/Page/index.ts
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/index.ts
  packages/react-rerender-test/src/containers/ChangeMiddleComponentPage/ChangeMiddleComponentPage.tsx
  packages/react-rerender-test/src/containers/ChangeMiddleComponentPage/index.ts
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/index.ts
  packages/react-rerender-test/src/containers/MainPage/MainPage.tsx
  packages/react-rerender-test/src/containers/MainPage/index.ts
  packages/react-rerender-test/src/containers/RouterLikePage/RouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/contexts/PageContext.tsx
  packages/react-rerender-test/src/history.ts
  packages/react-rerender-test/src/index.tsx
Due: stylelint --cache, eslint --cache

refactor(react-rerender-test): Rename Main page to Home page
  packages/react-rerender-test/src/common.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/HomePage/index.ts
  packages/react-rerender-test/src/containers/MainPage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/index.tsx
Due: eslint --cache

chore(deps): Add deps, change port
  package-lock.json
  package.json
  packages/project-template-browser-react/.env
  packages/project-template-browser-react/CHANGELOG.md
  packages/react-rerender-test/.env
Due: none

docs: Update author
  package.json
  packages/demo-test-nodejs/package.json
  packages/eslint-config/package.json
  packages/global-types/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/package-template-nodejs/package.json
  packages/project-template-browser-react/package.json
  packages/project-template-nodejs/package.json
  packages/random-string/package.json
  packages/react-rerender-test/package.json
  packages/scripts/package.json
  packages/stylelint-config/package.json
  packages/tsconfigs/package.json
  packages/utils-fluentui/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
Due: none

refactor(react-rerender-test): Refactor pages and routes
  packages/react-rerender-test/src/common.ts
  packages/react-rerender-test/src/components/Page/Page.tsx
  packages/react-rerender-test/src/components/Page/PageContainer.tsx
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/Page/index.ts
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/index.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/contexts/PageContext.tsx
  packages/react-rerender-test/src/history.ts
  packages/react-rerender-test/src/hooks/usePageURL.ts
  packages/react-rerender-test/src/index.css
  packages/react-rerender-test/src/index.tsx
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Add main page
  packages/react-rerender-test/src/components/Introduction/Introduction.module.scss
  packages/react-rerender-test/src/components/Introduction/Introduction.tsx
  packages/react-rerender-test/src/components/Introduction/index.ts
  packages/react-rerender-test/src/components/Page/Page.module.scss
  packages/react-rerender-test/src/components/Page/PageContainer.tsx
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.module.scss
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverviewItem.tsx
  packages/react-rerender-test/src/components/PageOverview/index.ts
  packages/react-rerender-test/src/components/PageOverview/types.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.module.scss
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/index.tsx
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Add new empty pages
  packages/react-rerender-test/src/common.ts
  packages/react-rerender-test/src/components/PageOverview/PageOverview.module.scss
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverviewItem.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/PrcChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/PtcChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/index.ts
  packages/react-rerender-test/src/containers/ChangeMiddleComponentPage/ChangeMiddleComponentPage.tsx
  packages/react-rerender-test/src/containers/ChangeMiddleComponentPage/index.ts
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PrcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PtcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/index.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.module.scss
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/PrcRouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/PtcRouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/RouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
Due: stylelint --cache, eslint --cache

feat: Add package `@easy/utils-type`, bump package `@easy/utils-test` version to v0.1.0
  .github/workflows/build-lint-test.yml
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/scripts/utils/bin.ts
  packages/utils-test/CHANGELOG.md
  packages/utils-type/.eslintrc.json
  packages/utils-type/.prettierignore
  packages/utils-type/CHANGELOG.md
  packages/utils-type/README.md
  packages/utils-type/package.json
  packages/utils-type/src/base.ts
  packages/utils-type/src/hex-color.ts
  packages/utils-type/src/index.ts
  packages/utils-type/tsconfig.json
  packages/utils-type/tsconfigs/tsconfig.esm.json
  packages/utils-type/tsconfigs/tsconfig.types.json
Due: eslint --cache

fix(utils-type): Fix type `IsHexColor`, add type `HexDigit`
  packages/utils-type/src/base.ts
  packages/utils-type/src/hex-color.ts
Due: eslint --cache

feat(react-rerender-test): Add new empty pages, refactor home page
  packages/react-rerender-test/src/common.ts
  packages/react-rerender-test/src/components/Note/Note.module.scss
  packages/react-rerender-test/src/components/Note/Note.tsx
  packages/react-rerender-test/src/components/Note/index.ts
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.module.scss
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/types.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/index.ts
  packages/react-rerender-test/src/containers/RerenderParent/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParent/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParent/index.ts
  packages/react-rerender-test/src/containers/configs.ts
Due: stylelint --cache, eslint --cache

feat(hooks): Improve hooks, rename interfaces, simplify `useConstFn`
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/useMount.ts
  packages/hooks/src/usePersistFn.ts
  packages/hooks/src/useUnmount.ts
Due: eslint --cache

feat(utils-redux): Don't re-export WritableDraft` from immer
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/types.IReducer.ts
  packages/utils-redux/src/types.WritableDraft.ts
Due: eslint --cache

feat: Delete type util `IChildrenElementProps`, improve ESLint configs
  packages/eslint-config/index.js
  packages/global-types/lib/utils.react.d.ts
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/hooks/src/useWhyDidYouUpdate.ts
  packages/react-rerender-test/src/components/Page/Page.tsx
  packages/react-rerender-test/src/components/Page/PageContainer.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
Due: eslint --cache

feat(react-rerender-test): Add `ComponentView`, implement basic UI of RerenderParent pages
  packages/react-rerender-test/src/components/ComponentView/ComponentView.module.scss
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/ComponentView/index.ts
  packages/react-rerender-test/src/components/Page/Page.module.scss
  packages/react-rerender-test/src/components/Page/PageContainer.tsx
  packages/react-rerender-test/src/constants.ts
  packages/react-rerender-test/src/containers/RerenderParent/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParent/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/Context.ts
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/contexts/RecordContext.ts
  packages/react-rerender-test/src/contexts/contextFactory.tsx
  packages/react-rerender-test/src/hooks/useRenderCount.ts
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Add `Inspector`, `createInspectedFC` and `InspectContext`
  packages/react-rerender-test/src/common/inspect.ts
  packages/react-rerender-test/src/common/page.ts
  packages/react-rerender-test/src/components/ComponentView/ComponentView.module.scss
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Inspector/Inspector.tsx
  packages/react-rerender-test/src/components/Inspector/createInspectedFC.tsx
  packages/react-rerender-test/src/components/Inspector/index.ts
  packages/react-rerender-test/src/components/PageOverview/types.ts
  packages/react-rerender-test/src/components/TestPage/TestPage.module.scss
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/components/utils/fiber.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/contexts/InspectContext.ts
  packages/react-rerender-test/src/contexts/RecordContext.ts
  packages/react-rerender-test/src/contexts/RenderContext.ts
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Add render list
  packages/react-rerender-test/src/common/inspect.ts
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/components/Inspector/Inspector.tsx
  packages/react-rerender-test/src/components/Inspector/createInspectedFC.tsx
  packages/react-rerender-test/src/components/RenderList/RenderList.module.scss
  packages/react-rerender-test/src/components/RenderList/RenderList.tsx
  packages/react-rerender-test/src/components/RenderList/index.ts
  packages/react-rerender-test/src/components/TestPage/TestPage.module.scss
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/index.ts
  packages/react-rerender-test/src/contexts/InspectContext.ts
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
  packages/react-rerender-test/src/contexts/RenderContext.ts
  packages/react-rerender-test/src/contexts/RenderContext.tsx
  packages/react-rerender-test/src/contexts/contextFactory.tsx
  packages/react-rerender-test/src/contexts/types.ts
  packages/react-rerender-test/src/hooks/useFnCallInStrictMode.ts
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Improve hooks
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Inspector/createInspectedFC.tsx
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/hooks/index.ts
  packages/react-rerender-test/src/hooks/useRenderCount.ts
Due: eslint --cache

refactor(react-rerender-test): Move files
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/components/Inspector/index.ts
  packages/react-rerender-test/src/components/RenderList/RenderList.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/hooks/index.ts
  packages/react-rerender-test/src/hooks/useFnCallInStrictMode.ts
  packages/react-rerender-test/src/utils/fiber.ts
  packages/react-rerender-test/src/utils/inspection/InspectionContext.tsx
  packages/react-rerender-test/src/utils/inspection/Inspector.tsx
  packages/react-rerender-test/src/utils/inspection/createInspectedFC.tsx
  packages/react-rerender-test/src/utils/inspection/index.ts
  packages/react-rerender-test/src/utils/inspection/inspection.ts
Due: eslint --cache

feat(react-rerender-test): Add `useDoubleRenderSign`
  packages/react-rerender-test/src/utils/inspection/InspectionContext.tsx
  packages/react-rerender-test/src/utils/inspection/Inspector.tsx
  packages/react-rerender-test/src/utils/inspection/createInspectedFC.tsx
  packages/react-rerender-test/src/utils/inspection/index.ts
  packages/react-rerender-test/src/utils/inspection/types.ts
Due: eslint --cache

feat(react-rerender-test): Add `makeInspectedFC`
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/RenderList/RenderList.tsx
  packages/react-rerender-test/src/components/TestPage/index.ts
  packages/react-rerender-test/src/constants.ts
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/utils/inspection/InspectionContext.tsx
  packages/react-rerender-test/src/utils/inspection/hooks.tsx
  packages/react-rerender-test/src/utils/inspection/index.ts
  packages/react-rerender-test/src/utils/inspection/types.ts
Due: eslint --cache

feat: Add `ReactImmerReducer`, refactor package `@easy/utils-redux`
  packages/project-template-browser-react/src/redux/types.ts
  packages/utils-react/CHANGELOG.md
  packages/utils-react/README.md
  packages/utils-react/src/index.ts
  packages/utils-react/src/types.ts
  packages/utils-redux/CHANGELOG.md
  packages/utils-redux/README.md
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/omitUnderscorePrefixActions.ts
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.IReducer.ts
  packages/utils-redux/src/types.IThunk.ts
  packages/utils-redux/src/types.ts
  packages/utils-redux/src/useDispatching.ts
  packages/utils-redux/src/useDispatchingThunks.ts
Due: eslint --cache

Bump package `@easy/utils-react` version to v0.1.0
  package-lock.json
  packages/utils-react/CHANGELOG.md
  packages/utils-react/package.json
  packages/utils-redux/CHANGELOG.md
Due: none

Bump package `@easy/hooks` version to v0.3.0
  package-lock.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
Due: none

feat(react-rerender-test): Add ChangeParent pages
  packages/react-rerender-test/src/components/ComponentView/ComponentView.module.scss
  packages/react-rerender-test/src/containers/ChangeParentPage/PrcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PtcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/index.ts
  packages/react-rerender-test/src/containers/RerenderParentPage/index.ts
  packages/react-rerender-test/src/contexts/RenderContext.tsx
  packages/react-rerender-test/src/contexts/types.ts
  packages/react-rerender-test/src/utils/inspection/InspectionContext.tsx
Due: stylelint --cache, eslint --cache

refactor(react-rerender-test): Refactor `TestPage`
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/Controller.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PrcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PtcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/Controller.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PrcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
Due: eslint --cache

chore(deps): Add deps `immer` and `use-immer`
  package-lock.json
  package.json
  packages/utils-react/README.md
  packages/utils-react/src/types.ts
  packages/utils-redux/src/types.ts
Due: eslint --cache

feat(react-rerender-test): Add other pages
  packages/react-rerender-test/src/common/page.ts
  packages/react-rerender-test/src/common/route.ts
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/types.ts
  packages/react-rerender-test/src/containers/ChangeLevelPage/Controller.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/PrcChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/PtcChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/index.ts
  packages/react-rerender-test/src/containers/ChangeParentPage/PtcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/PrcRouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/PtcRouterLikePage.tsx
  packages/react-rerender-test/src/containers/RouterLikePage/index.ts
  packages/react-rerender-test/src/containers/RouterPage/Controller.tsx
  packages/react-rerender-test/src/containers/RouterPage/PrcRouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/PtcRouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/contexts/RenderContext.tsx
  packages/react-rerender-test/src/hooks/index.ts
  packages/react-rerender-test/src/hooks/usePageURL.ts
  packages/react-rerender-test/src/index.tsx
  packages/react-rerender-test/src/utils/inspection/InspectionContext.tsx
Due: eslint --cache

refactor(react-rerender-test): Refactor pages
  packages/react-rerender-test/src/common/route.ts
  packages/react-rerender-test/src/common/types.ts
  packages/react-rerender-test/src/components/ComponentView/ComponentView.module.scss
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Note/Note.module.scss
  packages/react-rerender-test/src/components/Page/PageSidebar.tsx
  packages/react-rerender-test/src/components/PageOverview/PageOverview.module.scss
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/components/PageOverview/types.ts
  packages/react-rerender-test/src/components/TestPage/TestPage.module.scss
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/PtcChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/index.ts
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PrcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/PtcChangeParentPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/index.ts
  packages/react-rerender-test/src/containers/HomePage/HomePage.module.scss
  packages/react-rerender-test/src/containers/HomePage/HomePage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/PtcRerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/index.ts
  packages/react-rerender-test/src/containers/RouterPage/Controller.tsx
  packages/react-rerender-test/src/containers/RouterPage/PrcRouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/PtcRouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/index.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/index.tsx
  packages/react-rerender-test/tsconfig.json
Due: stylelint --cache, eslint --cache

Bump package `@easy/react-rerender-test` version to v0.1.0
  package-lock.json
  package.json
  packages/react-rerender-test/CHANGELOG.md
  packages/react-rerender-test/README.md
  packages/react-rerender-test/package.json
Due: none

refactor(react-rerender-test): Move files
  packages/react-rerender-test/src/common/fiberNode.ts
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/common/types.ts
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Inspection/Inspector.tsx
  packages/react-rerender-test/src/components/Inspection/index.ts
  packages/react-rerender-test/src/components/RenderList/RenderList.tsx
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
  packages/react-rerender-test/src/hooks/useInpectedComponentData.ts
  packages/react-rerender-test/src/utils/getOwnerFiberNode.tsx
  packages/react-rerender-test/src/utils/inspection/index.ts
Due: eslint --cache

feat(react-rerender-test): Add `useInspectedFCType` to automatically detect the type of inspected FC
  packages/react-rerender-test/src/common/fiber.ts
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  packages/react-rerender-test/src/components/Inspection/Inspector.tsx
  packages/react-rerender-test/src/components/Inspector/Inspector.tsx
  packages/react-rerender-test/src/components/Inspector/index.ts
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/index.ts
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/hooks/useInpectedComponentData.ts
  packages/react-rerender-test/src/hooks/useInspectedFCType.tsx
  packages/react-rerender-test/src/utils/getElementOwner.tsx
  packages/react-rerender-test/src/utils/getOwnerFiberNode.tsx
Due: eslint --cache

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
