Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

chore(eslint-config): correct import/internal-regex config
  configs/eslint-config/.eslintrc.basic.js
Due: none

refactor(webapp): use named route path
  projects/webapp/src/router/routes.tsx
Due: eslint --cache

docs(webapp): update recommended libs
  projects/webapp/README.md
Due: none

refactor: limit separator-comment length to 80
  easy-projs.code-workspace
  packages/helpers-redux/src/types.ts
  templates/software/powershell/profile.ps1
  templates/software/vscode/settings.json
Due: eslint --cache

feat(hooks): delete useCompositeRef, use use-callback-ref lib instead
  packages/hooks/README.md
  packages/hooks/src/__tests__/useCompositeRef.test.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useCompositeRef.ts
Due: eslint --cache

feat(stylelint-config): change scss/dollar-variable-colon-space-after rule
  configs/stylelint-config/index.js
Due: none

docs(software): update vscode configs
  templates/software/vscode/settings.json
Due: none

feat(software): add vscode keybindings config
  templates/software/vscode/keybindings.json
  templates/software/vscode/settings.json
Due: none

docs: update bundle size
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
Due: none

chore(deps): specify pnpm to v10
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
  package.json
Due: none

chore(pnpm): specify public hoist pattern and built deps
  .npmrc
  package.json
Due: none

feat(software): add vscode github copilot settings
  templates/software/vscode/keybindings.json
  templates/software/vscode/settings.json
Due: none

refactor(hooks): rename timer hooks
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/useIntervals.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeouts.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useIntervals.ts
  packages/hooks/src/useSingleInterval.ts
  packages/hooks/src/useSingleTimeout.ts
  packages/hooks/src/useTimeout.ts
  packages/hooks/src/useTimeouts.ts
Due: eslint --cache

feat(hooks): improve useClientPagination, return mutate fn
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/hooks/useClientPagination.ts
Due: eslint --cache

feat(webapp): rename useClientPagination types
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/hooks/useClientPagination.ts
Due: eslint --cache

chore(eslint-config): use eslint-plugin-n
  configs/eslint-config/.eslintrc.node.js
  configs/eslint-config/package.json
  pnpm-lock.yaml
Due: none

chore: require node v22
  configs/jest-config/package.json
  package.json
  packages/random-string/package.json
  packages/utils-node/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/perf-js/package.json
Due: none

docs: update bundle size
  pnpm-lock.yaml
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
Due: none

refactor(rc-antd): rename AppendableField to FormAppendableList
  packages/rc-antd/src/AppendableField/index.ts
  packages/rc-antd/src/FormAppendableList/FormAppendableList.module.scss
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/src/FormAppendableList/index.ts
Due: stylelint --cache, eslint --cache

refactor(helpers-nestjs): change logger file name
  packages/helpers-nestjs/src/logger/logger.service.ts
Due: eslint --cache

feat(webapp): add component demos for rc-antd
  packages/rc-antd/.stylelintrc.json
  packages/rc-antd/package.json
  packages/rc-antd/src/FormAppendableList/FormAppendableList.module.scss
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/tsconfigs/tsconfig.lib.json
  packages/rc-antd/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  projects/webapp/package.json
  projects/webapp/src/demos/ComponentDemoContainer/ComponentDemoContainer.module.scss
  projects/webapp/src/demos/ComponentDemoContainer/ComponentDemoContainer.tsx
  projects/webapp/src/demos/ComponentDemoContainer/index.ts
  projects/webapp/src/demos/ComponentDemoOverview/ComponentDemoOverview.module.scss
  projects/webapp/src/demos/ComponentDemoOverview/ComponentDemoOverview.tsx
  projects/webapp/src/demos/ComponentDemoOverview/index.ts
  projects/webapp/src/demos/components/DemoLayout/DemoLayout.tsx
  projects/webapp/src/demos/components/DemoLayout/index.ts
  projects/webapp/src/demos/components/ExampleList/ExampleList.module.scss
  projects/webapp/src/demos/components/ExampleList/ExampleList.tsx
  projects/webapp/src/demos/components/ExampleList/index.ts
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/ReadonlyableDemo.tsx
  projects/webapp/src/index.css
  projects/webapp/src/pages/Home/Home.module.scss
  projects/webapp/src/pages/Home/components/Introduction/Introduction.tsx
  projects/webapp/src/pages/Home/components/Introduction/__tests__/Introduction.test.tsx
  projects/webapp/src/pages/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  projects/webapp/src/router/path.ts
  projects/webapp/src/router/routes.tsx
Due: stylelint --cache, eslint --cache

feat(rc-antd & webapp): add FormAppendableTable and its demos
  packages/rc-antd/package.json
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.module.scss
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  packages/rc-antd/src/FormAppendableTable/index.ts
  packages/rc-antd/src/index.ts
  pnpm-lock.yaml
  projects/webapp/src/demos/ComponentDemoContainer/ComponentDemoContainer.tsx
  projects/webapp/src/demos/ComponentDemoOverview/ComponentDemoOverview.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo.tsx
  projects/webapp/src/router/path.ts
  projects/webapp/src/router/routes.tsx
Due: stylelint --cache, eslint --cache

refactor(helpers-nestjs): add readonly modifier
  packages/helpers-nestjs/src/auth/guards/AuthenticationGuard.ts
  packages/helpers-nestjs/src/auth/guards/RoleGuard.ts
  packages/helpers-nestjs/src/guards/ExperimentalApiGuard.ts
Due: eslint --cache

refactor(jest-config): use import.meta.dirname and import.meta.resolve
  configs/jest-config/src/exec.ts
  configs/jest-config/src/paths.ts
Due: eslint --cache

feat(software): update vscode keybindings
  templates/software/vscode/keybindings.json
Due: none

refactor(utils-test): rename types
  packages/utils-test/src/mockInjectedVars.ts
Due: eslint --cache

feat(utils-server): add format-log utils
  easy-projs.code-workspace
  packages/utils-server/.eslintrc.json
  packages/utils-server/.lintstagedrc
  packages/utils-server/.prettierignore
  packages/utils-server/README.md
  packages/utils-server/package.json
  packages/utils-server/src/__tests__/formatLog.test.ts
  packages/utils-server/src/formatLog.ts
  packages/utils-server/src/index.ts
  packages/utils-server/tsconfig.json
  packages/utils-server/tsconfigs/tsconfig.lib.json
  packages/utils-server/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
Due: eslint --cache

feat(helpers-typeorm): add AutoCreateDate and AutoUpdateDate
  packages/helpers-typeorm/src/index.ts
  packages/helpers-typeorm/src/timestamp.ts
Due: eslint --cache

feat(helpers-typeorm): add convertPagination, remove convertApiPagination
  packages/helpers-typeorm/package.json
  packages/helpers-typeorm/src/__tests__/pagination.test.ts
  packages/helpers-typeorm/src/pagination.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(software): change vscode settings
  easy-projs.code-workspace
  templates/software/vscode/settings.json
Due: none

chore(deps): correct deps
  packages/utils-test/package.json
  pnpm-lock.yaml
Due: none

feat(rc-antd): support customizing FormAppendableTable text and tooltip
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo.tsx
Due: eslint --cache

feat(helpers-nestjs): add IntegerIdsBodyDto
  packages/helpers-nestjs/src/dto/IntegerId.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/IntegerId.dto.test.ts
Due: eslint --cache

feat(helpers-nestjs): add User decorator
  packages/helpers-nestjs/src/auth/decorator.ts
  packages/helpers-nestjs/src/auth/guards/AuthenticationGuard.ts
  packages/helpers-nestjs/src/auth/guards/RoleGuard.ts
  packages/helpers-nestjs/src/auth/guards/constants.ts
  packages/helpers-nestjs/src/auth/index.ts
  packages/helpers-nestjs/src/auth/types/request.ts
Due: eslint --cache

feat(webapp): add fn mutateClientPagination
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/hooks/useClientPagination.ts
Due: eslint --cache

feat(rc-antd): update FormAppendableList and FormAppendableTable
  packages/rc-antd/src/FormAppendableList/FormAppendableList.tsx
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.module.scss
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableListDemo.tsx
  projects/webapp/src/demos/rc-antd/FormAppendableTableDemo.tsx
Due: stylelint --cache, eslint --cache

chore(pnpm): upgrade pnpm to 10.11.0, move configs to pnpm-workspace
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: none

chore(pnpm): move approve-builds config to pnpm-workspace
  package.json
  pnpm-workspace.yaml
Due: none
