Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

feat(vscode): update vscode settings
  easy-projs.code-workspace
  templates/software/vscode/settings.json
Due: none

chore: update vscode workspace settings
  easy-projs.code-workspace
Due: none

chore: one-line package.json exports
  configs/eslint-config/package.json
  configs/stylelint-config/package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-server/package.json
  packages/utils-test/package.json
  packages/utils/package.json
Due: none

chore(vite): follow browserslist rules in vite configs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-antd/vite.config.ts
  projects/bundlesize-fluentui/package.json
  projects/bundlesize-fluentui/vite.config.ts
  projects/webapp/package.json
  projects/webapp/vite.config.ts
Due: eslint --cache

feat(webapp): don't set user-select to none
  projects/webapp/src/index.css
  projects/webapp/src/pages/Home/Home.module.css
  projects/webapp/src/pages/Home/Home.tsx
Due: stylelint --cache, eslint --cache

feat(webapp): make a new ui design for components intro
  .github/copilot-instructions.md
  projects/webapp/src/intro/IntroContainer/IntroContainer.module.css
  projects/webapp/src/intro/IntroContainer/IntroContainer.module.scss
  projects/webapp/src/intro/IntroContainer/IntroContainer.tsx
  projects/webapp/src/intro/IntroOverview/IntroOverview.module.css
  projects/webapp/src/intro/IntroOverview/IntroOverview.module.scss
  projects/webapp/src/intro/IntroOverview/IntroOverview.tsx
  projects/webapp/src/intro/components/DemoGrid/DemoGrid.module.css
  projects/webapp/src/intro/components/DemoGrid/DemoGrid.tsx
  projects/webapp/src/intro/components/DemoGrid/index.ts
  projects/webapp/src/intro/components/DemoLayout/DemoLayout.tsx
  projects/webapp/src/intro/components/DemoLayout/index.ts
  projects/webapp/src/intro/components/PageHeader/PageHeader.module.css
  projects/webapp/src/intro/components/PageHeader/PageHeader.tsx
  projects/webapp/src/intro/components/PageHeader/index.ts
  projects/webapp/src/intro/config.ts
  projects/webapp/src/intro/rc-antd/FormAppendableListIntro/FormAppendableListIntro.module.css
  projects/webapp/src/intro/rc-antd/FormAppendableListIntro/FormAppendableListIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.module.css
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/ReadonlyDemo.tsx
  projects/webapp/src/intro/rc-antd/ReadonlyableIntro/ReadonlyableIntro.module.css
  projects/webapp/src/intro/rc-antd/ReadonlyableIntro/ReadonlyableIntro.tsx
Due: stylelint --cache, eslint --cache

refactor(webapp): simplify intro configs
  projects/webapp/src/intro/IntroContainer/IntroContainer.module.css
  projects/webapp/src/intro/IntroContainer/IntroContainer.tsx
  projects/webapp/src/intro/IntroOverview/IntroOverview.tsx
  projects/webapp/src/intro/config.ts
  projects/webapp/src/intro/rc-antd/FormAppendableListIntro/FormAppendableListIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.tsx
  projects/webapp/src/intro/rc-antd/ReadonlyableIntro/ReadonlyableIntro.tsx
Due: stylelint --cache, eslint --cache

feat(vscode): update vscode settings
  templates/software/vscode/settings.json
Due: none

feat(rc): add ResizableArea
  easy-projs.code-workspace
  packages/rc/.lintstagedrc
  packages/rc/.prettierignore
  packages/rc/.stylelintrc.json
  packages/rc/README.md
  packages/rc/eslint.config.js
  packages/rc/package.json
  packages/rc/src/ResizableArea/ResizableArea.module.scss
  packages/rc/src/ResizableArea/ResizableArea.tsx
  packages/rc/src/ResizableArea/index.ts
  packages/rc/src/global.d.ts
  packages/rc/src/index.ts
  packages/rc/tsconfig.json
  packages/rc/tsconfigs/tsconfig.lib.json
  packages/rc/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  projects/webapp/package.json
  projects/webapp/src/intro/IntroContainer/IntroContainer.tsx
  projects/webapp/src/intro/IntroOverview/IntroOverview.tsx
  projects/webapp/src/intro/components/DemoPage/DemoPage.module.css
  projects/webapp/src/intro/components/DemoPage/DemoPage.tsx
  projects/webapp/src/intro/components/DemoPage/index.ts
  projects/webapp/src/intro/components/PageHeader/PageHeader.tsx
  projects/webapp/src/intro/components/PageHeader/index.ts
  projects/webapp/src/intro/config.ts
  projects/webapp/src/intro/rc-antd/FormAppendableListIntro/FormAppendableListIntro.module.css
  projects/webapp/src/intro/rc-antd/FormAppendableListIntro/FormAppendableListIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.module.css
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.tsx
  projects/webapp/src/intro/rc-antd/ReadonlyableIntro/ReadonlyableIntro.module.css
  projects/webapp/src/intro/rc-antd/ReadonlyableIntro/ReadonlyableIntro.tsx
  projects/webapp/src/intro/rc/ResizableArea/BasicDemo.tsx
  projects/webapp/src/intro/rc/ResizableArea/MinMaxRangeDemo.tsx
  projects/webapp/src/intro/rc/ResizableArea/ResizableAreaIntro.tsx
  projects/webapp/src/intro/rc/ResizableArea/index.ts
  projects/webapp/src/router/path.ts
  projects/webapp/src/router/routes.tsx
Due: stylelint --cache, eslint --cache

chore(eslint): allow use-before-define for class
  configs/eslint-config/src/rules/typescript.ts
Due: eslint --cache

feat(vscode): add github.copilot.enable settings
  templates/software/vscode/settings.json
Due: none

feat(utils): add ArrayUtil.isReadonlyArray
  configs/global-types/README.md
  configs/global-types/types/typescript.d.ts
  packages/helpers-antd/src/global.d.ts
  packages/utils/src/array.ts
Due: eslint --cache

feat(vscode): update vscode settings for vscode v1.110
  templates/software/vscode/keybindings.json
  templates/software/vscode/settings.json
Due: none

docs: update AGENTS.md
  AGENTS.md
Due: none

chore: don't use vscode multi-root workspace for pnpm workspace
  .prettierignore
  easy-projs.code-workspace
  package.json
  projects/redux-usage-demo/.prettierignore
  projects/redux-usage-demo/eslint.config.js
  projects/redux-usage-demo/package.json
  projects/redux-usage-demo/tsconfigs/tsconfig.lib.json
  projects/redux-usage-demo/tsconfigs/tsconfig.types.json
  templates/software/windows-terminal/settings.json
Due: none

feat(vscode): enable editor.aiStats.enabled
  templates/software/vscode/settings.json
Due: none

feat(vscode): update vscode settings
  templates/software/vscode/keybindings.json
Due: none

feat(webapp): make ClientPagination not partial, add createUseClientPagination
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/hooks/useClientPagination.ts
  projects/webapp/src/types/app.ts
Due: eslint --cache

refactor(webapp): change assets' exported names
  projects/webapp/src/assets/index.ts
  projects/webapp/src/pages/Home/components/Introduction/Introduction.tsx
Due: eslint --cache

refactor(utils): keep fn.ts file name consistnet
  packages/utils/src/__tests__/fn.test.ts
  packages/utils/src/fn.ts
  packages/utils/src/index.ts
Due: eslint --cache

feat(rc-antd): supports marking columns as required
  packages/rc-antd/package.json
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.module.css
  packages/rc-antd/src/FormAppendableTable/FormAppendableTable.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/FormAppendableTableIntro.tsx
  projects/webapp/src/intro/rc-antd/FormAppendableTableIntro/RequiredMarkDemo.tsx
Due: stylelint --cache, eslint --cache

feat(utils-browsers): use assert fn from es-toolkit
  packages/fetcher/package.json
  packages/fetcher/src/__tests__/fetcher.test.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils-browser/package.json
  packages/utils-browser/src/__tests__/assert.test.ts
  packages/utils-browser/src/assert.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/webapp/src/index.tsx
Due: eslint --cache

chore(deps): bump typescript to v6.0.3
  configs/tsconfigs/tsconfig.base.json
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useDoubleTrigger.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useIntervals.ts
  packages/hooks/src/useTimeouts.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/tsconfig.json
  projects/bundlesize-fluentui/tsconfig.json
  projects/webapp/tsconfig.json
Due: eslint --cache

chore(github): update action scripts to adapt node.js v24
  .github/workflows/bundlemon.yml
  .github/workflows/regular.yml
Due: none

docs: add setup-harness skill
  skills/setup-harness/SKILL.md
Due: none

docs: update README
  README.md
Due: none

feat(skills): validation should not be a phase in the plan
  skills/setup-harness/SKILL.md
Due: none

feat: remove bundle size check
  .bundlemonrc.json
  .github/workflows/bundlemon.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bundlesize-antd/.lintstagedrc
  projects/bundlesize-antd/.prettierignore
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/eslint.config.js
  projects/bundlesize-antd/index.html
  projects/bundlesize-antd/package.json
  projects/bundlesize-antd/public/vite.svg
  projects/bundlesize-antd/src/global.d.ts
  projects/bundlesize-antd/src/index.tsx
  projects/bundlesize-antd/tsconfig.json
  projects/bundlesize-antd/tsconfig.vite.json
  projects/bundlesize-antd/vite.config.ts
  projects/bundlesize-fluentui/.lintstagedrc
  projects/bundlesize-fluentui/.prettierignore
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/eslint.config.js
  projects/bundlesize-fluentui/index.html
  projects/bundlesize-fluentui/package.json
  projects/bundlesize-fluentui/public/vite.svg
  projects/bundlesize-fluentui/src/global.d.ts
  projects/bundlesize-fluentui/src/index.tsx
  projects/bundlesize-fluentui/tsconfig.json
  projects/bundlesize-fluentui/tsconfig.vite.json
  projects/bundlesize-fluentui/vite.config.ts
Due: eslint --cache

feat(skills): delete real code examples
  skills/setup-harness/SKILL.md
Due: none

feat: update vscode settings, update oh-my-posh theme
  templates/software/oh-my-posh/yifanwww.omp.json
  templates/software/vscode/settings.json
Due: none

chore: ignore AI agent files when formatting
  .prettierignore
Due: none

chore: don't run Github CI/CD on skill/* branches
  .github/workflows/regular.yml
Due: none
