Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore(deps): remove `ts-essentials`, can use `type-fest` if need
  configs/global-types/package.json
  configs/global-types/types/utils.type.d.ts
  pnpm-lock.yaml
Due: eslint --cache

chore: change pnpm workspace-concurrency config
  .npmrc
  package.json
Due: none

chore(eslint): update ESLint configuration
  configs/eslint-config/.eslintrc.js
  projects/react-rerender-test/src/containers/makeInspectedFC.tsx
  projects/react-rerender-test/src/utils/getElementOwner.tsx
Due: eslint --cache

chore(jest): enable `restoreMocks` globally
  configs/scripts/src/jest/jest.config.ts
Due: eslint --cache

test: add unit tests for react context reducers
  projects/perf-react/package.json
  projects/perf-react/src/contexts/BenchmarkContext/__tests__/__snapshots__/reducer.test.ts.snap
  projects/perf-react/src/contexts/BenchmarkContext/__tests__/reducer.test.ts
  projects/perf-react/src/contexts/BenchmarkContext/context.tsx
  projects/perf-react/src/contexts/BenchmarkContext/index.ts
  projects/perf-react/src/contexts/BenchmarkContext/reducer.ts
  projects/react-rerender-test/package.json
  projects/react-rerender-test/src/contexts/InspectionContext/__tests__/__snapshots__/reducer.test.ts.snap
  projects/react-rerender-test/src/contexts/InspectionContext/__tests__/reducer.test.ts
  projects/react-rerender-test/src/contexts/InspectionContext/context.tsx
  projects/react-rerender-test/src/contexts/InspectionContext/index.ts
  projects/react-rerender-test/src/contexts/InspectionContext/reducer.ts
  projects/react-rerender-test/src/contexts/RenderContext/__tests__/reducer.test.ts
  projects/react-rerender-test/src/contexts/RenderContext/context.tsx
  projects/react-rerender-test/src/contexts/RenderContext/index.ts
  projects/react-rerender-test/src/contexts/RenderContext/reducer.ts
Due: eslint --cache

refactor(pkg/fetcher): refactor `buildURL`
  packages/fetcher/src/fetcher/url.ts
Due: eslint --cache

feat(pkg/utils-test): delete `expectSnapshot` and `expectElementSnapshot`
  packages/utils-test/package.json
  packages/utils-test/src/console.ts
  packages/utils-test/src/global.d.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/utils.ts
  pnpm-lock.yaml
  projects/template-browser-react/package.json
  projects/template-browser-react/src/components/Introduction/Introduction.test.tsx
  projects/template-browser-react/src/redux/actions/reducers.DisplayConfig.test.ts
  projects/template-browser-react/src/redux/actions/reducers.test.ts
Due: eslint --cache

feat(pkg/utils-test): add `createClassJestHelper`
  configs/global-types/types/utils.type.d.ts
  packages/utils-test/package.json
  packages/utils-test/src/__tests__/class.test.ts
  packages/utils-test/src/class.ts
  packages/utils-test/src/index.ts
Due: eslint --cache

chore: run tsc in non-build mode
  projects/perf-js/package.json
  projects/template-nodejs/package.json
Due: none

chore: bump `prettier` version
  .prettierrc
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/scripts/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/assets/package.json
  packages/fetcher/package.json
  packages/hooks/package.json
  packages/memorize/package.json
  packages/random-string/package.json
  packages/react-hooks-nodom/package.json
  packages/template-nodejs/package.json
  packages/utils-fluentui/package.json
  packages/utils-react-router/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/misc-scripts/package.json
  projects/misc/package.json
  projects/perf-js/package.json
  projects/perf-react/package.json
  projects/proving-ground-nodejs/package.json
  projects/react-rerender-test/package.json
  projects/template-browser-react/package.json
  projects/template-nodejs/package.json
Due: none

refactor: solve some ESLint issues
  configs/global-types/types/assets.d.ts
  packages/assets/src/index.ts
  packages/hooks/src/__tests__/useImmediateFocus.test.tsx
  packages/hooks/src/useMount.ts
  packages/utils-type/src/utils.ts
  projects/react-rerender-test/src/components/ComponentView/ComponentView.tsx
Due: eslint --cache

chore: update package root tsconfig to disable incremental compilation
  configs/global-types/tsconfig.json
  configs/scripts/tsconfig.json
  packages/assets/tsconfig.json
  packages/fetcher/tsconfig.json
  packages/hooks/tsconfig.json
  packages/memorize/tsconfig.json
  packages/random-string/tsconfig.json
  packages/react-hooks-nodom/tsconfig.json
  packages/template-nodejs/tsconfig.json
  packages/utils-fluentui/tsconfig.json
  packages/utils-react-router/tsconfig.json
  packages/utils-react/tsconfig.json
  packages/utils-redux/tsconfig.json
  packages/utils-test/tsconfig.json
  packages/utils-type/tsconfig.json
  packages/utils/tsconfig.json
  projects/misc-scripts/tsconfig.json
  projects/misc/tsconfig.json
  projects/perf-js/tsconfig.json
  projects/perf-react/tsconfig.json
  projects/proving-ground-nodejs/tsconfig.json
  projects/react-rerender-test/tsconfig.json
  projects/template-browser-react/tsconfig.json
  projects/template-nodejs/tsconfig.json
Due: none

chore(deps): bump `jest` to v29
  configs/scripts/package.json
  configs/scripts/src/jest/transform.babel.ts
  configs/scripts/src/jest/transform.css.ts
  configs/scripts/src/jest/transform.file.ts
  package.json
  packages/hooks/package.json
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/memorize/package.json
  packages/random-string/package.json
  packages/utils-test/package.json
  pnpm-lock.yaml
  projects/perf-react/package.json
  projects/perf-react/src/contexts/BenchmarkContext/__tests__/__snapshots__/reducer.test.ts.snap
  projects/react-rerender-test/package.json
  projects/react-rerender-test/src/contexts/InspectionContext/__tests__/__snapshots__/reducer.test.ts.snap
  projects/template-browser-react/package.json
  projects/template-browser-react/src/redux/actions/__snapshots__/reducers.DisplayConfig.test.ts.snap
Due: eslint --cache

feat(hooks): add `useDialogBeforeUnload`
  packages/hooks/src/index.ts
  packages/hooks/src/useDialogBeforeUnload.ts
Due: eslint --cache

fix: fix multiple react-redux context instances breaking singleton pattern
  packages/utils-redux/package.json
  pnpm-lock.yaml
  projects/template-browser-react/src/index.tsx
Due: eslint --cache

feat(pkg/utils-test): add `buildMethodName` and `buildStaticMethodName`
  packages/utils-test/src/class.ts
Due: eslint --cache

refactor(hooks): rename `useMount` and `useUnmount` to `useMountEffect` and `useUnmountEffect`
  packages/hooks/README.md
  packages/hooks/src/__tests__/useMountEffect.test.tsx
  packages/hooks/src/__tests__/useUnmountEffect.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useMountEffect.ts
  packages/hooks/src/useUnmountEffect.ts
Due: eslint --cache

chore(deps): add dependency `use-immer`
  packages/utils-react/README.md
  packages/utils-react/src/index.ts
  packages/utils-react/src/useImmerReducer.ts
  pnpm-lock.yaml
  projects/perf-react/package.json
  projects/perf-react/src/contexts/BenchmarkContext/context.tsx
  projects/perf-react/src/contexts/BenchmarkContext/reducer.ts
  projects/react-rerender-test/package.json
  projects/react-rerender-test/src/contexts/InspectionContext/reducer.ts
  projects/react-rerender-test/src/contexts/RenderContext/context.tsx
  projects/react-rerender-test/src/contexts/RenderContext/reducer.ts
Due: eslint --cache

refactor: add eslint-coverage ignores
  projects/perf-react/src/contexts/BenchmarkContext/reducer.ts
  projects/react-rerender-test/src/components/ComponentView/ComponentView.tsx
  projects/react-rerender-test/src/contexts/InspectionContext/reducer.ts
  projects/react-rerender-test/src/contexts/RenderContext/reducer.ts
Due: eslint --cache

refactor: use `useMemo` in context providers
  projects/perf-react/src/contexts/BenchmarkContext/context.tsx
  projects/react-rerender-test/src/contexts/InspectionContext/context.tsx
  projects/react-rerender-test/src/contexts/RenderContext/context.tsx
Due: eslint --cache

refactor: change home page url
  projects/perf-react/src/routes/RoutePath.ts
  projects/react-rerender-test/src/routes/RoutePath.ts
  projects/template-browser-react/src/routes/RoutePath.ts
Due: eslint --cache

feat(react-canvas-resize): add new proj `@easy-proj/react-canvas-resize`
  easy-projs.code-workspace
  pnpm-lock.yaml
  projects/react-canvas-resize/.env
  projects/react-canvas-resize/.eslintrc.json
  projects/react-canvas-resize/.prettierignore
  projects/react-canvas-resize/.stylelintrc.json
  projects/react-canvas-resize/README.md
  projects/react-canvas-resize/package.json
  projects/react-canvas-resize/public/index.html
  projects/react-canvas-resize/public/manifest.json
  projects/react-canvas-resize/src/containers/HomePage/index.tsx
  projects/react-canvas-resize/src/containers/HomePage/styles.module.scss
  projects/react-canvas-resize/src/global.d.ts
  projects/react-canvas-resize/src/index.css
  projects/react-canvas-resize/src/index.tsx
  projects/react-canvas-resize/src/routes/RoutePath.ts
  projects/react-canvas-resize/src/routes/Routes.ts
  projects/react-canvas-resize/src/routes/index.ts
  projects/react-canvas-resize/tsconfig.json
Due: stylelint --cache, eslint --cache

feat(react-canvas-resize): sync canvas size when resizing
  projects/react-canvas-resize/src/containers/HomePage/index.tsx
Due: eslint --cache

refactor(utils): improve type definition of `abstractFn`
  packages/utils/src/function.ts
Due: eslint --cache

chore(eslint): improve naming convention configs
  configs/eslint-config/.eslintrc.js
Due: none

feat(misc): sync createEntityAdapter changes from @reduxjs/redux-toolkit
  projects/misc/ts/createEntityAdapter.ts
Due: eslint --cache

chore: turn on `inlineSources` for debugging
  configs/scripts/tsconfig.json
  configs/tsconfigs/tsconfig.base.json
  projects/perf-js/tsconfig.node.json
Due: none

feat(react-rerender-test): improve page sider
  projects/react-rerender-test/src/components/Page/Page.module.scss
  projects/react-rerender-test/src/components/Page/Page.tsx
  projects/react-rerender-test/src/components/Page/PageContainer.tsx
  projects/react-rerender-test/src/components/Page/PageSidebar.tsx
  projects/react-rerender-test/src/components/Page/configs.ts
  projects/react-rerender-test/src/components/Page/index.ts
  projects/react-rerender-test/src/components/Page/sider.ts
  projects/react-rerender-test/src/components/Page/styles.module.scss
Due: stylelint --cache, eslint --cache

feat(perf-react): improve page sider
  pnpm-lock.yaml
  projects/perf-react/package.json
  projects/perf-react/src/components/Page/Page.tsx
  projects/perf-react/src/components/Page/PageSidebar.tsx
  projects/perf-react/src/components/Page/configs.tsx
  projects/perf-react/src/components/Page/index.ts
  projects/perf-react/src/components/Page/index.tsx
  projects/perf-react/src/components/Page/sider.ts
  projects/perf-react/src/components/Page/styles.module.scss
  projects/react-rerender-test/src/components/Page/index.ts
  projects/react-rerender-test/src/components/Page/index.tsx
  projects/react-rerender-test/src/components/Page/styles.module.scss
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): use `rc-scrollbars` to improve scrolling list
  pnpm-lock.yaml
  projects/react-rerender-test/package.json
  projects/react-rerender-test/src/components/RenderOrderList/RenderOrderList.tsx
  projects/react-rerender-test/src/components/TestPage/TestPage.tsx
Due: eslint --cache

chore(webpack): support typescript `declare` syntax
  configs/scripts/src/webpack/webpack.config.ts
Due: eslint --cache

feat(utils): add new utils
  packages/utils/package.json
  packages/utils/src/__tests__/enum.test.ts
  packages/utils/src/__tests__/function.test.ts
  packages/utils/src/__tests__/object.test.ts
  packages/utils/src/__tests__/string.test.ts
  packages/utils/src/enum.ts
  packages/utils/src/object.ts
  packages/utils/src/string.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(dep): remove fluentui deps
  easy-projs.code-workspace
  packages/utils-fluentui/.eslintrc.json
  packages/utils-fluentui/.prettierignore
  packages/utils-fluentui/README.md
  packages/utils-fluentui/package.json
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-fluentui/src/events.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-fluentui/src/index.ts
  packages/utils-fluentui/src/styles.ts
  packages/utils-fluentui/src/theme.default.ts
  packages/utils-fluentui/src/tokens.ts
  packages/utils-fluentui/tsconfig.json
  packages/utils-fluentui/tsconfigs/tsconfig.esm.json
  packages/utils-fluentui/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  projects/template-browser-react/package.json
  projects/template-browser-react/src/index.tsx
  projects/template-browser-react/src/setup.tests.ts
Due: eslint --cache

refactor(hooks): rename `useMountEffect` and `useUnmountEffect` to `useMount` and `useUnmount`
  packages/hooks/README.md
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useMount.ts
  packages/hooks/src/useUnmount.ts
Due: eslint --cache

chore(eslint): enable typescript-eslint rules `no-floating-promises` and `no-misused-promises`
  configs/eslint-config/.eslintrc.js
  packages/utils/src/__tests__/function.test.ts
  projects/perf-react/src/containers/TestPage/TestPage.tsx
  projects/template-browser-react/src/reportWebVitals.ts
Due: eslint --cache

chore(eslint): make ignore foleders relative path
  packages/assets/.eslintrc.json
  packages/fetcher/.eslintrc.json
  packages/hooks/.eslintrc.json
  packages/memorize/.eslintrc.json
  packages/random-string/.eslintrc.json
  packages/react-hooks-nodom/.eslintrc.json
  packages/template-nodejs/.eslintrc.json
  packages/utils-react-router/.eslintrc.json
  packages/utils-react/.eslintrc.json
  packages/utils-redux/.eslintrc.json
  packages/utils-test/.eslintrc.json
  packages/utils-type/.eslintrc.json
  packages/utils/.eslintrc.json
  projects/misc-scripts/.eslintrc.json
  projects/misc/.eslintrc.json
  projects/perf-js/.eslintrc.json
  projects/perf-react/.eslintrc.json
  projects/proving-ground-nodejs/.eslintrc.json
  projects/react-canvas-resize/.eslintrc.json
  projects/react-rerender-test/.eslintrc.json
  projects/template-browser-react/.eslintrc.json
  projects/template-nodejs/.eslintrc.json
Due: none

chore(browserlist): change browserlist settings
  projects/perf-react/package.json
  projects/react-canvas-resize/package.json
  projects/react-rerender-test/package.json
  projects/template-browser-react/package.json
Due: none

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
