Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint

.lintstagedrc:

{
    "*.css": [
        "stylelint"
    ],
    "*.sass": [
        "stylelint"
    ],
    "*.scss": [
        "stylelint"
    ],
    "*.ts": [
        "eslint"
    ],
    "*.tsx": [
        "eslint"
    ]
}

chore: Change comments in eslint configs and tsconfigs
  configs/eslint-config/index.js
  configs/tsconfigs/tsconfig.base.json
Due: none

Delete root scripts
  easy-projs.code-workspace
  package.json
  projects/template-browser-react/package.json
  scripts/execute.ts
  scripts/json-schemas/index.ts
  scripts/json-schemas/json.validate.ts
  scripts/json-schemas/proj-info.schema.json
  scripts/log.ts
  scripts/paths.ts
  scripts/process-env.ts
  scripts/projs/cli.ts
  scripts/projs/control/add.ts
  scripts/projs/control/build.ts
  scripts/projs/control/clean.ts
  scripts/projs/control/dev.ts
  scripts/projs/control/exec.ts
  scripts/projs/control/execute-wrapper.ts
  scripts/projs/control/help.ts
  scripts/projs/control/switch-projs.ts
  scripts/projs/control/types.ts
  scripts/projs/control/validate.ts
  scripts/projs/info/find.ts
  scripts/projs/info/get.ts
  scripts/projs/info/index.ts
  scripts/projs/info/load.ts
  scripts/projs/info/types.ts
  scripts/tsconfig.json
Due: eslint

feat(scripts): Add npm scripts `build-packages` and `build-projects`
  .github/workflows/Build-Test-Lint.yml
  configs/scripts/.prettierignore
  configs/scripts/README.md
  configs/scripts/bin/build-packages.js
  configs/scripts/bin/build-projects.js
  configs/scripts/package.json
  configs/scripts/tsconfig.json
  configs/scripts/utils/bin.ts
  configs/scripts/utils/index.ts
  configs/scripts/utils/paths.ts
  easy-projs.code-workspace
  package-lock.json
  package.json
Due: eslint

feat: Move react webpack configurations into `@config/scripts`
  configs/scripts/README.md
  configs/scripts/bin/build-packages.js
  configs/scripts/bin/build-projects.js
  configs/scripts/bin/react-proj.js
  configs/scripts/package.json
  configs/scripts/utils/bin.ts
  configs/scripts/utils/paths.ts
  configs/scripts/webpack/webpack.config.ts
  package-lock.json
  package.json
  projects/template-browser-react/.eslintrc.json
  projects/template-browser-react/.prettierignore
  projects/template-browser-react/CHANGELOG.md
  projects/template-browser-react/package.json
  projects/template-browser-react/scripts/jest.workaround.d.ts
  projects/template-browser-react/scripts/tsconfig.json
  projects/template-browser-react/scripts/tsconfigs/tsconfig.eslint.json
  projects/template-browser-react/scripts/tsconfigs/tsconfig.src.json
  projects/template-browser-react/scripts/webpack/webpack.config.ts
  projects/template-browser-react/src/Redux/Actions/Slice.ts
  projects/template-browser-react/src/Redux/Hooks/useDispatching.ts
  projects/template-browser-react/src/Redux/Hooks/useMainSelector.ts
  projects/template-browser-react/src/Redux/Thunks/CreateMainThunk.ts
  projects/template-browser-react/src/Redux/Types.ts
  projects/template-browser-react/src/global.d.ts
  projects/template-browser-react/tsconfig.json
Due: eslint

feat: Add package `@package/global-types`
  .gitignore
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/global-types/README.md
  packages/global-types/lib/assets.d.ts
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/test.d.ts
  packages/global-types/lib/utils.react.d.ts
  packages/global-types/lib/utils.type.d.ts
  packages/global-types/package.json
  packages/global-types/tsconfig.json
  projects/template-browser-react/.env
Due: eslint

feat: Add package `@package/hooks`
  configs/scripts/utils/bin.ts
  easy-projs.code-workspace
  package.json
  packages/hooks/.eslintrc.json
  packages/hooks/.prettierignore
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/global.d.ts
  packages/hooks/src/index.ts
  packages/hooks/src/testUtils.ts
  packages/hooks/src/useBoolean.test.ts
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useConst.test.ts
  packages/hooks/src/useConst.ts
  packages/hooks/src/useConstFn.test.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/useForceUpdate.test.tsx
  packages/hooks/src/useForceUpdate.ts
  packages/hooks/src/useImmediateFocus.test.tsx
  packages/hooks/src/useImmediateFocus.ts
  packages/hooks/src/useIsFocused.test.tsx
  packages/hooks/src/useIsFocused.ts
  packages/hooks/src/useIsHovered.test.tsx
  packages/hooks/src/useIsHovered.ts
  packages/hooks/src/useMount.test.tsx
  packages/hooks/src/useMount.ts
  packages/hooks/src/usePrevious.test.tsx
  packages/hooks/src/usePrevious.ts
  packages/hooks/src/useToggle.test.ts
  packages/hooks/src/useToggle.ts
  packages/hooks/src/useUnmount.test.tsx
  packages/hooks/src/useUnmount.ts
  packages/hooks/src/useWhyDidYouUpdate.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsconfigs/tsconfig.esm.json
  packages/hooks/tsconfigs/tsconfig.types.json
Due: eslint

Bump version to v0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): Delete unused deps, add deps `react-test-renderer` and `browserslist`
  package-lock.json
  package.json
Due: none

chore(deps): Refresh deps, upgrade `jest` to v27
  configs/scripts/jest/transform.babel.ts
  package-lock.json
  package.json
Due: eslint

chore(deps): Upgrade `prettier` to v2.4.1
  package-lock.json
  package.json
Due: none

feat: Add package `@package/utils-fluentui`
  configs/scripts/utils/bin.ts
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/utils-fluentui/.eslintrc.json
  packages/utils-fluentui/.prettierignore
  packages/utils-fluentui/README.md
  packages/utils-fluentui/package.json
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-fluentui/src/events.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-fluentui/src/index.ts
  packages/utils-fluentui/src/styles.ts
  packages/utils-fluentui/src/theme.default.ts
  packages/utils-fluentui/src/tokens.ts
  packages/utils-fluentui/tsconfig.json
  packages/utils-fluentui/tsconfigs/tsconfig.esm.json
  packages/utils-fluentui/tsconfigs/tsconfig.types.json
Due: eslint

chore: When in stage `pre-commit` only lint changed files
  .gitignore
  .lintstagedrc
Due: none

feat: Some changes in project `@project/template-browser-react`
  projects/template-browser-react/CHANGELOG.md
  projects/template-browser-react/package.json
  projects/template-browser-react/public/manifest.json
  projects/template-browser-react/src/index.tsx
  projects/template-browser-react/src/reportWebVitals.ts
  projects/template-browser-react/src/test.setup.ts
Due: eslint

feat(test): Add `console.testInfo`, `console.testWarn` and `console.testError` for test
  .gitattributes
  configs/eslint-config/index.js
  configs/scripts/jest/test.setup.ts
  packages/global-types/lib/test.d.ts
Due: eslint

chore: Change vscode settings and stylelint configs
  configs/stylelint-config/index.js
  easy-projs.code-workspace
Due: none

fix(fluentui): Fix `FluentuiProvider` css class
  packages/utils-fluentui/CHANGELOG.md
  packages/utils-fluentui/src/Provider.tsx
Due: eslint

chore(deps): Add dev dep `stylelint-config-recess-order`, update stylelint configs
  configs/stylelint-config/index.js
  package-lock.json
  package.json
  projects/template-browser-react/src/components/Introduction/Introduction.module.scss
  projects/template-browser-react/src/index.css
Due: stylelint

feat(hooks): Move tests into __tests__, the parameter `initialValue` of `useBoolean` now is optional
  packages/hooks/CHANGELOG.md
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useImmediateFocus.test.tsx
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/__tests__/utils.test.ts
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/usePrevious.ts
  packages/hooks/src/useUnmount.ts
Due: eslint

feat(test): Set jest environment to `jest-environment-jsdom`
  configs/scripts/jest/jest.config.ts
Due: eslint

feat(tsconfigs): Update tsconfigs in package `@package/hooks`
  packages/hooks/tsconfigs/tsconfig.esm.json
  packages/hooks/tsconfigs/tsconfig.types.json
Due: none

feat(test): Support package own setup.test.ts
  configs/scripts/jest/jest.config.ts
  configs/scripts/jest/test.d.ts
  configs/scripts/jest/test.setup.ts
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/test.d.ts
  packages/hooks/src/test.setup.ts
  packages/hooks/tsconfigs/tsconfig.esm.json
  packages/hooks/tsconfigs/tsconfig.types.json
Due: eslint

chore(ci): Use cache
  .github/workflows/build-lint-test.yml
Due: none

Bump version to v0.3.0
  CHANGELOG.md
  packages/hooks/CHANGELOG.md
  packages/memorize/CHANGELOG.md
  packages/package-template-nodejs/CHANGELOG.md
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-nodejs/CHANGELOG.md
  packages/random-string/CHANGELOG.md
  packages/utils-fluentui/CHANGELOG.md
  packages/utils-redux/CHANGELOG.md
Due: none

chore(tsconfigs): Change tsconfigs, delete some `baseUrl`
  packages/demo-test-nodejs/tsconfig.json
  packages/demo-test-nodejs/tsconfig.node.json
  packages/hooks/tsconfig.json
  packages/hooks/tsconfigs/tsconfig.esm.json
  packages/hooks/tsconfigs/tsconfig.types.json
  packages/memorize/tsconfig.json
  packages/memorize/tsconfigs/tsconfig.cjs.json
  packages/memorize/tsconfigs/tsconfig.esm.json
  packages/memorize/tsconfigs/tsconfig.types.json
  packages/package-template-nodejs/tsconfig.json
  packages/package-template-nodejs/tsconfigs/tsconfig.cjs.json
  packages/package-template-nodejs/tsconfigs/tsconfig.esm.json
  packages/package-template-nodejs/tsconfigs/tsconfig.types.json
  packages/project-template-nodejs/tsconfig.json
  packages/project-template-nodejs/tsconfig.node.json
  packages/random-string/tsconfig.json
  packages/random-string/tsconfigs/tsconfig.cjs.json
  packages/random-string/tsconfigs/tsconfig.dist.json
  packages/random-string/tsconfigs/tsconfig.esm.json
  packages/random-string/tsconfigs/tsconfig.types.json
  packages/scripts/tsconfig.json
  packages/tsconfigs/README.md
  packages/utils-fluentui/tsconfig.json
  packages/utils-fluentui/tsconfigs/tsconfig.esm.json
  packages/utils-fluentui/tsconfigs/tsconfig.types.json
  packages/utils-redux/tsconfig.json
  packages/utils-redux/tsconfigs/tsconfig.esm.json
  packages/utils-redux/tsconfigs/tsconfig.types.json
Due: none

feat(redux): Delete util function `createTypedSelector`, rename `IThunkClosure` to `IThunkActionWithArgs`
  packages/utils-redux/README.md
  packages/utils-redux/src/createTypedSelector.ts
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.IThunk.ts
Due: eslint

fix: Fix build of `@easy/project-template-browser-react`
  packages/project-template-browser-react/src/redux/hooks/useMainSelector.ts
  packages/utils-redux/CHANGELOG.md
Due: eslint

feat(types): Add env.d.ts
  packages/global-types/README.md
  packages/global-types/lib/env.d.ts
  packages/global-types/lib/index.d.ts
Due: eslint

chore(scripts): Support pass `--verbose` when do unit test
  packages/scripts/utils/bin.ts
Due: eslint

feat(hooks): Add hook `usePersistFn`, improve `usePrevious`, add tests
  packages/global-types/lib/utils.type.d.ts
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useImmediateFocus.test.tsx
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/usePersistFn.ts
  packages/hooks/src/usePrevious.ts
Due: eslint

feat(types): Add type `PickProp`
  packages/global-types/lib/utils.type.d.ts
  packages/utils-fluentui/src/events.ts
  packages/utils-fluentui/src/styles.ts
  packages/utils-fluentui/src/tokens.ts
Due: eslint

feat(react): Add package `@tecra/utils-react`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/scripts/utils/bin.ts
  packages/utils-react/.eslintrc.json
  packages/utils-react/.prettierignore
  packages/utils-react/CHANGELOG.md
  packages/utils-react/README.md
  packages/utils-react/package.json
  packages/utils-react/src/clns.ts
  packages/utils-react/src/global.d.ts
  packages/utils-react/src/index.ts
  packages/utils-react/tsconfig.json
  packages/utils-react/tsconfigs/tsconfig.esm.json
  packages/utils-react/tsconfigs/tsconfig.types.json
Due: eslint

chore: Improve lint-staged configs
  .lintstagedrc
  easy-projs.code-workspace
Due: none

refactor(hooks): Improve comments
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/usePersistFn.ts
Due: eslint

chore: Change .env and prettier ignores
  packages/project-template-browser-react/.env
  packages/project-template-browser-react/.prettierignore
Due: none

feat: Add package `@easy/utils-test`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/test.d.ts
  packages/scripts/utils/bin.ts
  packages/scripts/utils/paths.ts
  packages/utils-test/.eslintrc.json
  packages/utils-test/.prettierignore
  packages/utils-test/README.md
  packages/utils-test/package.json
  packages/utils-test/src/global.d.ts
  packages/utils-test/src/hook.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/setup.ts
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
Due: eslint

fix: Fix .env
  packages/project-template-browser-react/.env
Due: none

feat: Add dep `ts-essentials`, improve global types
  package-lock.json
  package.json
  packages/global-types/lib/utils.type.d.ts
Due: eslint
