Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.css": [
        "stylelint --cache"
    ],
    "*.sass": [
        "stylelint --cache"
    ],
    "*.scss": [
        "stylelint --cache"
    ],
    "*.ts": [
        "eslint --cache"
    ],
    "*.tsx": [
        "eslint --cache"
    ]
}

chore(eslint): don't apply react relevant rules to non-react packages
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/.eslintrc.react.js
  configs/eslint-config/index.js
  configs/global-types/.eslintrc.json
  configs/scripts/.eslintrc.json
  package.json
  packages/assets/.eslintrc.json
  packages/fetcher/.eslintrc.json
  packages/hooks/.eslintrc.json
  packages/memorize/.eslintrc.json
  packages/random-string/.eslintrc.json
  packages/template-nodejs/.eslintrc.json
  packages/utils-antd/.eslintrc.json
  packages/utils-browser/.eslintrc.json
  packages/utils-react-router/.eslintrc.json
  packages/utils-react/.eslintrc.json
  packages/utils-redux/.eslintrc.json
  packages/utils-test/.eslintrc.json
  packages/utils-type/.eslintrc.json
  packages/utils/.eslintrc.json
  pnpm-lock.yaml
  projects/misc-scripts/.eslintrc.json
  projects/misc/.eslintrc.json
  projects/perf-js/.eslintrc.json
  projects/perf-react/.eslintrc.json
  projects/proving-ground-nodejs/.eslintrc.json
  projects/react-canvas-resize/.eslintrc.json
  projects/react-rerender-test/.eslintrc.json
  projects/template-browser-react/.eslintrc.json
  projects/template-nodejs/.eslintrc.json
Due: none

feat: add web-app project
  easy-projs.code-workspace
  pnpm-lock.yaml
  projects/web-app/.env
  projects/web-app/.eslintrc.json
  projects/web-app/.prettierignore
  projects/web-app/.stylelintrc.json
  projects/web-app/README.md
  projects/web-app/package.json
  projects/web-app/public/favicon.ico
  projects/web-app/public/index.html
  projects/web-app/public/logo192.png
  projects/web-app/public/logo512.png
  projects/web-app/public/manifest.json
  projects/web-app/public/robots.txt
  projects/web-app/src/assets/index.ts
  projects/web-app/src/assets/logo.svg
  projects/web-app/src/components/Introduction/Introduction.module.scss
  projects/web-app/src/components/Introduction/Introduction.test.tsx
  projects/web-app/src/components/Introduction/Introduction.tsx
  projects/web-app/src/components/Introduction/__snapshots__/Introduction.test.tsx.snap
  projects/web-app/src/components/Introduction/index.ts
  projects/web-app/src/containers/HomePage/HomePage.tsx
  projects/web-app/src/containers/HomePage/index.ts
  projects/web-app/src/global.d.ts
  projects/web-app/src/index.css
  projects/web-app/src/index.module.scss
  projects/web-app/src/index.tsx
  projects/web-app/src/reportWebVitals.ts
  projects/web-app/src/routes/RoutePath.ts
  projects/web-app/src/routes/Routes.ts
  projects/web-app/src/routes/index.ts
  projects/web-app/tsconfig.json
Due: stylelint --cache, eslint --cache

feat(web-app): improve react-rerender-test
  projects/web-app/src/contexts/InspectionContext/__tests__/reducer.test.ts
  projects/web-app/src/contexts/InspectionContext/context.tsx
  projects/web-app/src/contexts/InspectionContext/reducer.ts
  projects/web-app/src/contexts/RenderContext/__tests__/reducer.test.ts
  projects/web-app/src/contexts/RenderContext/context.tsx
  projects/web-app/src/contexts/RenderContext/index.ts
  projects/web-app/src/contexts/RenderContext/types.ts
  projects/web-app/src/hooks/useRenderCount.ts
  projects/web-app/src/pages/RerenderTest/ChangeLevelPage/ChangeLevelPage.tsx
  projects/web-app/src/pages/RerenderTest/ChangeParentPage/ChangeParentPage.tsx
  projects/web-app/src/pages/RerenderTest/NestedFCPage/NestedFCPage.tsx
  projects/web-app/src/pages/RerenderTest/RerenderParentPage/RerenderParentPage.tsx
  projects/web-app/src/utils/withMockedHooks.ts
Due: eslint --cache

feat: delete react-canvas-resize project
  easy-projs.code-workspace
  pnpm-lock.yaml
  projects/react-canvas-resize/.env
  projects/react-canvas-resize/.eslintrc.json
  projects/react-canvas-resize/.prettierignore
  projects/react-canvas-resize/.stylelintrc.json
  projects/react-canvas-resize/README.md
  projects/react-canvas-resize/package.json
  projects/react-canvas-resize/public/index.html
  projects/react-canvas-resize/public/manifest.json
  projects/react-canvas-resize/src/containers/HomePage/index.tsx
  projects/react-canvas-resize/src/containers/HomePage/styles.module.scss
  projects/react-canvas-resize/src/global.d.ts
  projects/react-canvas-resize/src/index.css
  projects/react-canvas-resize/src/index.tsx
  projects/react-canvas-resize/src/routes/RoutePath.ts
  projects/react-canvas-resize/src/routes/Routes.ts
  projects/react-canvas-resize/src/routes/index.ts
  projects/react-canvas-resize/tsconfig.json
Due: stylelint --cache, eslint --cache

feat(web-app): add redux template code
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/app.tsx
  projects/web-app/src/redux/actions/__tests__/store.test.ts
  projects/web-app/src/redux/actions/index.ts
  projects/web-app/src/redux/actions/slice.ts
  projects/web-app/src/redux/actions/store.ts
  projects/web-app/src/redux/adapters/.gitkeep
  projects/web-app/src/redux/hooks/index.ts
  projects/web-app/src/redux/hooks/useDispatching.ts
  projects/web-app/src/redux/hooks/useMainSelector.ts
  projects/web-app/src/redux/index.ts
  projects/web-app/src/redux/thunks/createMainThunk.ts
  projects/web-app/src/redux/thunks/index.ts
  projects/web-app/src/redux/types.ts
Due: eslint --cache

feat(web-app): add browser storage template code
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/storage/local/constants.ts
  projects/web-app/src/storage/local/helpers.ts
  projects/web-app/src/storage/local/index.ts
  projects/web-app/src/storage/session/constants.ts
  projects/web-app/src/storage/session/helpers.ts
  projects/web-app/src/storage/session/index.ts
Due: eslint --cache

fix(web-app): add missing libs
  packages/utils-redux/package.json
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/pages/PerfTest/TestPage/TestPage.tsx
Due: eslint --cache

chore: change test setup file name
  configs/scripts/src/jest/jest.config.ts
  configs/scripts/src/webpack/webpack.config.ts
  packages/assets/tsconfigs/tsconfig.esm.json
  packages/assets/tsconfigs/tsconfig.types.json
  packages/fetcher/tsconfigs/tsconfig.esm.json
  packages/fetcher/tsconfigs/tsconfig.types.json
  packages/hooks/tsconfigs/tsconfig.esm.json
  packages/hooks/tsconfigs/tsconfig.types.json
  packages/memorize/tsconfigs/tsconfig.cjs.json
  packages/memorize/tsconfigs/tsconfig.esm.json
  packages/memorize/tsconfigs/tsconfig.types.json
  packages/random-string/tsconfigs/tsconfig.cjs.json
  packages/random-string/tsconfigs/tsconfig.dist.json
  packages/random-string/tsconfigs/tsconfig.esm.json
  packages/random-string/tsconfigs/tsconfig.types.json
  packages/template-nodejs/tsconfigs/tsconfig.cjs.json
  packages/template-nodejs/tsconfigs/tsconfig.esm.json
  packages/template-nodejs/tsconfigs/tsconfig.types.json
  packages/utils-antd/tsconfigs/tsconfig.esm.json
  packages/utils-antd/tsconfigs/tsconfig.types.json
  packages/utils-browser/tsconfigs/tsconfig.lib.json
  packages/utils-browser/tsconfigs/tsconfig.types.json
  packages/utils-react-router/tsconfigs/tsconfig.esm.json
  packages/utils-react-router/tsconfigs/tsconfig.types.json
  packages/utils-react/tsconfigs/tsconfig.esm.json
  packages/utils-react/tsconfigs/tsconfig.types.json
  packages/utils-redux/tsconfigs/tsconfig.esm.json
  packages/utils-redux/tsconfigs/tsconfig.types.json
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
  packages/utils-type/tsconfigs/tsconfig.esm.json
  packages/utils-type/tsconfigs/tsconfig.types.json
  packages/utils/tsconfigs/tsconfig.cjs.json
  packages/utils/tsconfigs/tsconfig.esm.json
  packages/utils/tsconfigs/tsconfig.types.json
  projects/misc-scripts/tsconfig.node.json
  projects/perf-js/tsconfig.node.json
  projects/proving-ground-nodejs/tsconfig.node.json
Due: eslint --cache

chore(deps): remove react-scripts
  package.json
  pnpm-lock.yaml
  projects/web-app/package.json
Due: none

chore: use vite to compile web-app
  configs/eslint-config/.eslintrc.basic.js
  configs/scripts/README.md
  configs/scripts/bin/react-proj.js
  configs/scripts/package.json
  configs/scripts/src/bin.ts
  configs/scripts/src/utils/paths.ts
  configs/scripts/src/webpack/webpack.config.ts
  configs/tsconfigs/tsconfig.base.json
  pnpm-lock.yaml
  projects/web-app/.eslintrc.json
  projects/web-app/.stylelintrc.json
  projects/web-app/index.html
  projects/web-app/package.json
  projects/web-app/public/favicon.ico
  projects/web-app/public/index.html
  projects/web-app/public/logo192.png
  projects/web-app/public/logo512.png
  projects/web-app/public/manifest.json
  projects/web-app/public/robots.txt
  projects/web-app/public/vite.svg
  projects/web-app/src/global.d.ts
  projects/web-app/tsconfig.json
  projects/web-app/tsconfig.node.json
  projects/web-app/vite.config.ts
Due: eslint --cache

chore(deps): remove webpack dep
  package.json
  pnpm-lock.yaml
Due: none

chore: change dev port
  projects/web-app/.env
  projects/web-app/vite.config.ts
Due: eslint --cache

feat(utils): add `assertIsNever`
  packages/utils/src/assert.ts
  projects/web-app/src/components/ComponentView/ComponentView.tsx
  projects/web-app/src/contexts/BenchmarkContext/reducer.ts
  projects/web-app/src/contexts/InspectionContext/reducer.ts
  projects/web-app/src/contexts/RenderContext/reducer.ts
Due: eslint --cache

feat: improve assert utils
  packages/utils/src/assert.ts
Due: eslint --cache

chore(deps): correct dev deps
  pnpm-lock.yaml
  projects/web-app/package.json
Due: none

chore(deps): bump `react` and `react-dom` to v18
  packages/fetcher/package.json
  packages/hooks/package.json
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/utils-antd/package.json
  packages/utils-react-router/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
  packages/utils-test/src/ReactHook.ts
  pnpm-lock.yaml
  projects/misc/package.json
  projects/web-app/index.html
  projects/web-app/package.json
  projects/web-app/src/hooks/useInspectedFCType.tsx
  projects/web-app/src/index.css
  projects/web-app/src/index.tsx
  projects/web-app/src/pages/RerenderTest/makeInspectedFC.tsx
  projects/web-app/src/types/inspection/index.ts
  projects/web-app/vite.config.ts
Due: stylelint --cache, eslint --cache

chore(deps): bump `antd` version to v5
  packages/utils-antd/package.json
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/index.tsx
  projects/web-app/src/pages/HomePage/HomePage.module.scss
Due: stylelint --cache, eslint --cache

chore(eslint): disable `camelcase` rule
  configs/eslint-config/.eslintrc.basic.js
Due: none

refactor: no webpack chunk name
  projects/web-app/src/reportWebVitals.ts
  projects/web-app/src/routes/Routes.ts
Due: eslint --cache

refactor: don't use web-vitals deprecated fns
  projects/web-app/src/reportWebVitals.ts
Due: eslint --cache

refactor: correct assertion fn doc
  packages/utils/src/assert.ts
Due: eslint --cache

refactor: delete `Optional` type
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useIsMounted.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils-react/src/onRender.tsx
  packages/utils-type/src/utils.ts
  projects/web-app/src/hooks/useInspectedFCType.tsx
  projects/web-app/src/types/inspection/index.ts
Due: eslint --cache

chore: dev with typecheck
  pnpm-lock.yaml
  projects/web-app/.eslintrc.json
  projects/web-app/package.json
  projects/web-app/tsconfig.json
  projects/web-app/tsconfig.vite.json
  projects/web-app/vite.config.ts
Due: eslint --cache

feat: add `Nullable` type
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useIsMounted.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils-type/src/utils.ts
  projects/web-app/src/hooks/useInspectedFCType.tsx
  projects/web-app/src/types/inspection/index.ts
Due: eslint --cache

chore(deps): remove lodash
  packages/fetcher/package.json
  packages/fetcher/src/fetcher/url.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils/src/function.ts
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/utils/withMockedHooks.ts
Due: eslint --cache

feat(deps): add radash, the morden version of lodash
  packages/utils/src/__tests__/assert.test.ts
  packages/utils/src/__tests__/error.test.ts
  packages/utils/src/error.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  projects/web-app/package.json
Due: eslint --cache

chore: remove lodash, use radash instead (#29)
  packages/fetcher/package.json
  packages/fetcher/src/fetcher/url.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/utils/src/__tests__/assert.test.ts
  packages/utils/src/__tests__/error.test.ts
  packages/utils/src/error.ts
  packages/utils/src/function.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  projects/web-app/package.json
  projects/web-app/src/utils/withMockedHooks.ts
Due: eslint --cache

feat(utils): add ArrayUtil.equal
  packages/utils/src/__tests__/array.test.ts
  packages/utils/src/array.ts
Due: eslint --cache

chore: fix clean script
  packages/utils-antd/package.json
  packages/utils-browser/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  projects/web-app/package.json
Due: none
