Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

feat(react-rerender-test): Mock react hooks when detecting the type of inspected FC
  packages/react-rerender-test/src/hooks/useInspectedFCType.tsx
  packages/react-rerender-test/src/utils/withMockedHooks.ts
Due: eslint --cache

refactor(react-rerender-test): Refactor `makeInspectedFC`
  packages/eslint-config/index.js
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
Due: eslint --cache

feat(react-rerender-test): Support to display multi group render order lists
  packages/react-rerender-test/src/common/inspection.ts
  packages/react-rerender-test/src/components/Inspector/Inspector.tsx
  packages/react-rerender-test/src/components/RenderList/RenderList.module.scss
  packages/react-rerender-test/src/components/RenderList/RenderList.tsx
  packages/react-rerender-test/src/components/RenderList/index.ts
  packages/react-rerender-test/src/components/RenderOrderList/GroupSelector.module.scss
  packages/react-rerender-test/src/components/RenderOrderList/GroupSelector.tsx
  packages/react-rerender-test/src/components/RenderOrderList/RenderOrderList.module.scss
  packages/react-rerender-test/src/components/RenderOrderList/RenderOrderList.tsx
  packages/react-rerender-test/src/components/RenderOrderList/index.ts
  packages/react-rerender-test/src/components/TestPage/TestPage.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
  packages/react-rerender-test/src/hooks/useDoubleRenderSign.ts
  packages/react-rerender-test/src/hooks/useInspectedFCData.ts
  packages/react-rerender-test/src/hooks/useInspectorPosition.tsx
Due: stylelint --cache, eslint --cache

feat(react-rerender-test): Support to display group name and highlight group if multiple groups are showed
  packages/react-rerender-test/src/components/Inspector/Inspector.module.scss
  packages/react-rerender-test/src/components/Inspector/Inspector.tsx
  packages/react-rerender-test/src/components/RenderOrderList/RenderOrderList.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/contexts/InspectionContext.tsx
Due: stylelint --cache, eslint --cache

Bump package `@easy/react-rerender-test` version to v0.2.0
  package-lock.json
  packages/react-rerender-test/CHANGELOG.md
  packages/react-rerender-test/README.md
  packages/react-rerender-test/package.json
Due: none

chore(deps): Upgrade deps `react-router` and `react-router-dom`
  package-lock.json
  package.json
  packages/react-rerender-test/src/common/route.ts
  packages/react-rerender-test/src/components/PageOverview/PageOverview.tsx
  packages/react-rerender-test/src/containers/RouterPage/Controller.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/useRouterNum.ts
  packages/react-rerender-test/src/containers/configs.ts
  packages/react-rerender-test/src/index.tsx
Due: eslint --cache

feat(project-template-browser-react): Support to use `react-router` to route urls
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-browser-react/src/common/route.ts
  packages/project-template-browser-react/src/containers/ClientArea/ClientArea.tsx
  packages/project-template-browser-react/src/containers/ClientArea/index.ts
  packages/project-template-browser-react/src/containers/HomePage/HomePage.tsx
  packages/project-template-browser-react/src/containers/HomePage/index.ts
  packages/project-template-browser-react/src/containers/configs.ts
  packages/project-template-browser-react/src/index.module.scss
  packages/project-template-browser-react/src/index.tsx
Due: stylelint --cache, eslint --cache

Bump package `@easy/project-template-browser-react` version to v0.4.0
  package-lock.json
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-browser-react/package.json
Due: none

chore(deps): Use `husky`
  .githooks/pre-commit
  .husky/pre-commit
  package-lock.json
  package.json
  packages/scripts/bin/post-install.js
  packages/scripts/package.json
Due: none

chore: Update vscode settings
  easy-projs.code-workspace
Due: none

feat(react-performance): Add package `@easy/react-performance`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/react-performance/.env
  packages/react-performance/.eslintrc.json
  packages/react-performance/.prettierignore
  packages/react-performance/.stylelintrc.json
  packages/react-performance/CHANGELOG.md
  packages/react-performance/README.md
  packages/react-performance/package.json
  packages/react-performance/public/index.html
  packages/react-performance/public/manifest.json
  packages/react-performance/tsconfig.json
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat: Add misc
  misc/RandomGenerator.cs
Due: none

chore(deps): Add dep `react-component-benchmark`, add package `@types/react-component-benchmark`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/react-rerender-test/tsconfig.json
  packages/scripts/utils/bin.ts
  packages/types-react-component-benchmark/.eslintrc.json
  packages/types-react-component-benchmark/index.d.ts
  packages/types-react-component-benchmark/package.json
  packages/types-react-component-benchmark/tsconfig.json
Due: eslint --cache

fix(types): Fix type declarations in package `@types/react-component-benchmark`
  packages/types-react-component-benchmark/index.d.ts
  packages/types-react-component-benchmark/package.json
Due: eslint --cache

feat: Add empty package `@easy/performance-javascript`, rename package `@easy/react-performance` to `@easy/performance-react`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/performance-javascript/.eslintrc.json
  packages/performance-javascript/.prettierignore
  packages/performance-javascript/CHANGELOG.md
  packages/performance-javascript/README.md
  packages/performance-javascript/package.json
  packages/performance-javascript/src/global.d.ts
  packages/performance-javascript/src/index.ts
  packages/performance-javascript/tsconfig.json
  packages/performance-javascript/tsconfig.node.json
  packages/performance-react/.env
  packages/performance-react/.eslintrc.json
  packages/performance-react/.prettierignore
  packages/performance-react/.stylelintrc.json
  packages/performance-react/CHANGELOG.md
  packages/performance-react/README.md
  packages/performance-react/package.json
  packages/performance-react/public/index.html
  packages/performance-react/public/manifest.json
  packages/performance-react/tsconfig.json
  packages/react-performance/CHANGELOG.md
  packages/scripts/utils/bin.ts
Due: eslint --cache

chore: Add configuration file `.npmrc`
  .npmrc
Due: none

feat(react-rerender-test): Test rerender of memoed nested FC
  packages/react-rerender-test/.env
  packages/react-rerender-test/CHANGELOG.md
  packages/react-rerender-test/src/components/ComponentView/ComponentView.module.scss
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/makeInspectedFC.tsx
Due: stylelint --cache, eslint --cache

feat: Add empty package `@easy/benchmark-javascript`
  easy-projs.code-workspace
  package.json
  packages/benchmark-javascript/.eslintrc.json
  packages/benchmark-javascript/.prettierignore
  packages/benchmark-javascript/CHANGELOG.md
  packages/benchmark-javascript/README.md
  packages/benchmark-javascript/package.json
  packages/benchmark-javascript/src/global.d.ts
  packages/benchmark-javascript/src/index.ts
  packages/benchmark-javascript/tsconfig.json
  packages/benchmark-javascript/tsconfigs/tsconfig.cjs.json
  packages/benchmark-javascript/tsconfigs/tsconfig.esm.json
  packages/benchmark-javascript/tsconfigs/tsconfig.types.json
  packages/scripts/utils/bin.ts
Due: eslint --cache

feat(types): Add new global types `AnyFn`, `UnknownFn` and `VoidReturn`
  packages/global-types/lib/utils.type.d.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/usePersistFn.ts
  packages/react-rerender-test/src/utils/withMockedHooks.ts
Due: eslint --cache

chore(deps): Add dev dep `@types/react-component-benchmark`, delete local package `@types/react-component-benchmark`
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/types-react-component-benchmark/.eslintrc.json
  packages/types-react-component-benchmark/index.d.ts
  packages/types-react-component-benchmark/package.json
  packages/types-react-component-benchmark/tsconfig.json
Due: eslint --cache

feat(benchmark-javascript): Add `Benchmark`, support to test javascript performance
  packages/benchmark-javascript/.eslintrc.json
  packages/benchmark-javascript/.prettierignore
  packages/benchmark-javascript/README.md
  packages/benchmark-javascript/package.json
  packages/benchmark-javascript/src/benchmark.ts
  packages/benchmark-javascript/src/benchmarkBase.ts
  packages/benchmark-javascript/src/constants.ts
  packages/benchmark-javascript/src/index.ts
  packages/benchmark-javascript/src/utils.ts
  packages/benchmark-javascript/test/string-indexof.ts
  packages/benchmark-javascript/tsconfig.json
  packages/benchmark-javascript/tsconfigs/tsconfig.dist.json
  packages/random-string/package.json
Due: eslint --cache

Bump package `@easy/benchmark-javascript` version to v0.1.0
  package-lock.json
  packages/benchmark-javascript/CHANGELOG.md
  packages/benchmark-javascript/README.md
  packages/benchmark-javascript/package.json
  packages/benchmark-javascript/test/string-indexof.ts
Due: eslint --cache

chore(deps): Upgrade `eslint` to v8.2.0, upgrade `stylelint` to v14.1.0
  package-lock.json
  package.json
  packages/eslint-config/index.js
  packages/project-template-browser-react/src/components/Introduction/Introduction.test.tsx
  packages/react-rerender-test/src/containers/ChangeLevelPage/ChangeLevelPage.tsx
  packages/react-rerender-test/src/containers/ChangeParentPage/ChangeParentPage.tsx
  packages/react-rerender-test/src/containers/NestedFCPage/NestedFCPage.tsx
  packages/react-rerender-test/src/containers/RerenderParentPage/RerenderParentPage.tsx
  packages/react-rerender-test/src/containers/RouterPage/RouterPage.tsx
  packages/scripts/webpack/webpack.config.ts
Due: eslint --cache

feat(utils-test): Add test utils for mocking local storage and session storage
  .gitignore
  packages/project-template-browser-react/CHANGELOG.md
  packages/project-template-browser-react/src/storage/index.ts
  packages/project-template-browser-react/src/storage/localStorage.test.ts
  packages/project-template-browser-react/src/storage/localStorage.ts
  packages/project-template-browser-react/src/storage/sessionStorage.test.ts
  packages/project-template-browser-react/src/storage/sessionStorage.ts
  packages/tsconfigs/tsconfig.base.json
  packages/utils-test/CHANGELOG.md
  packages/utils-test/src/index.ts
  packages/utils-test/src/storage.ts
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
Due: eslint --cache

refactor(cra-check): Format html files
  packages/cra-check/projs/2021-07-13/public/index.html
  packages/cra-check/projs/2021-11-16/public/index.html
Due: none

feat(projs-manage): Add package `@easy/projs-manage`
  .gitignore
  easy-projs.code-workspace
  package-lock.json
  package.json
  packages/cra-check/.gitignore
  packages/projs-manage/.eslintrc.json
  packages/projs-manage/.prettierignore
  packages/projs-manage/CHANGELOG.md
  packages/projs-manage/README.md
  packages/projs-manage/bin/easy.js
  packages/projs-manage/package.json
  packages/projs-manage/src/commands/index.ts
  packages/projs-manage/src/commands/version.ts
  packages/projs-manage/src/index.ts
  packages/projs-manage/src/types.ts
  packages/projs-manage/src/utils/hasChangelogFile.ts
  packages/projs-manage/src/utils/paths.ts
  packages/projs-manage/src/utils/readProjectPackageInfo.ts
  packages/projs-manage/src/version/index.ts
  packages/projs-manage/src/version/ls.ts
  packages/projs-manage/tsconfig.json
  packages/projs-manage/tsconfig.node.json
Due: eslint --cache

chore(tsconfigs): Enable `allowSyntheticDefaultImports` explicitly for the need of `react-scripts`
  packages/tsconfigs/tsconfig.base.json
Due: none

chore(stylelint): Disable rule `selector-max-id`
  packages/project-template-browser-react/src/index.css
  packages/react-rerender-test/src/index.css
  packages/stylelint-config/index.js
Due: stylelint --cache

refactor(hooks): Rename some interfaces
  packages/hooks/CHANGELOG.md
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useToggle.ts
Due: eslint --cache

feat(performance-react): Add basic performance test of react
  easy-projs.code-workspace
  packages/performance-react/package.json
  packages/performance-react/src/App.module.scss
  packages/performance-react/src/App.tsx
  packages/performance-react/src/InputWrapper/InputWrapper.module.scss
  packages/performance-react/src/InputWrapper/InputWrapper.tsx
  packages/performance-react/src/InputWrapper/index.ts
  packages/performance-react/src/ResultTable/ResultTable.module.scss
  packages/performance-react/src/ResultTable/ResultTable.tsx
  packages/performance-react/src/ResultTable/index.ts
  packages/performance-react/src/global.d.ts
  packages/performance-react/src/index.css
  packages/performance-react/src/index.tsx
  packages/performance-react/src/tests/index.ts
  packages/performance-react/src/tests/tests.module.scss
  packages/performance-react/src/tests/tests.tsx
  packages/performance-react/src/types.ts
Due: stylelint --cache, eslint --cache

feat(performance-react): Support optimization and multiple tests
  packages/performance-react/src/App.module.scss
  packages/performance-react/src/App.tsx
  packages/performance-react/src/hooks/index.ts
  packages/performance-react/src/hooks/useComponentKeys.ts
  packages/performance-react/src/hooks/useMultipleTest.ts
  packages/performance-react/src/hooks/useOptimization.ts
  packages/performance-react/src/hooks/useTest.ts
  packages/performance-react/src/tests/tests.tsx
Due: stylelint --cache, eslint --cache

feat(performance-react): Support to copy results to clipboard
  package-lock.json
  package.json
  packages/performance-react/src/App.module.scss
  packages/performance-react/src/App.tsx
Due: stylelint --cache, eslint --cache

feat(performance-react): Support to route multi pages
  packages/performance-react/src/common/benchmark.ts
  packages/performance-react/src/common/route.ts
  packages/performance-react/src/components/InputWrapper/InputWrapper.module.scss
  packages/performance-react/src/components/InputWrapper/InputWrapper.tsx
  packages/performance-react/src/components/InputWrapper/index.ts
  packages/performance-react/src/components/Page/Page.module.scss
  packages/performance-react/src/components/Page/Page.tsx
  packages/performance-react/src/components/Page/index.ts
  packages/performance-react/src/components/ResultTable/ResultTable.module.scss
  packages/performance-react/src/components/ResultTable/ResultTable.tsx
  packages/performance-react/src/components/ResultTable/index.ts
  packages/performance-react/src/components/tests/index.ts
  packages/performance-react/src/components/tests/tests.module.scss
  packages/performance-react/src/components/tests/tests.tsx
  packages/performance-react/src/containers/ChartPage/ChartPage.tsx
  packages/performance-react/src/containers/ChartPage/index.ts
  packages/performance-react/src/containers/HomePage/HomePage.tsx
  packages/performance-react/src/containers/HomePage/index.ts
  packages/performance-react/src/containers/TestPage/TestPage.module.scss
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/containers/TestPage/index.ts
  packages/performance-react/src/containers/configs.ts
  packages/performance-react/src/hooks/useOptimization.ts
  packages/performance-react/src/index.tsx
Due: stylelint --cache, eslint --cache

feat(performance-react): Support store benchmark results over multi pages
  packages/performance-react/src/containers/TestPage/TestPage.tsx
  packages/performance-react/src/contexts/BenchmarkContext.tsx
  packages/performance-react/src/index.tsx
Due: eslint --cache

feat(performance-react): Add HomePage
  packages/performance-react/src/components/PageOverview/PageOverview.module.scss
  packages/performance-react/src/components/PageOverview/PageOverview.tsx
  packages/performance-react/src/components/PageOverview/index.ts
  packages/performance-react/src/containers/HomePage/HomePage.module.scss
  packages/performance-react/src/containers/HomePage/HomePage.tsx
Due: stylelint --cache, eslint --cache

fix: Fix wrong type using
  packages/performance-react/src/components/InputWrapper/InputWrapper.tsx
  packages/performance-react/src/components/Page/Page.tsx
Due: eslint --cache

chore: Add `--if-present` in npm scripts
  package.json
  packages/cra-check/package.json
  packages/eslint-config/package.json
  packages/global-types/package.json
  packages/scripts/package.json
  packages/scripts/utils/bin.ts
  packages/stylelint-config/package.json
  packages/tsconfigs/package.json
Due: eslint --cache

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
