Repository yifanwww/easy-projs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore(deps): upgrade testing libraries
  packages/helpers-react/package.json
  packages/hooks/package.json
  packages/utils-test/package.json
  pnpm-lock.yaml
  projects/webapp/package.json
Due: none

refactor(helpers-nestjs): add module index entry files
  packages/helpers-nestjs/src/auth/__tests__/role.test.ts
  packages/helpers-nestjs/src/auth/guards/RoleGuard.ts
  packages/helpers-nestjs/src/auth/index.ts
  packages/helpers-nestjs/src/auth/role.ts
  packages/helpers-nestjs/src/dto/IntegerId.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/IntegerId.dto.test.ts
  packages/helpers-nestjs/src/dto/index.ts
  packages/helpers-nestjs/src/guards/index.ts
  packages/helpers-nestjs/src/index.ts
Due: eslint --cache

feat(helpers-nestjs): add IntegerIdQueryDto and IntegerIdBodyDto
  packages/helpers-nestjs/src/dto/IntegerId.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/IntegerId.dto.test.ts
Due: eslint --cache

feat(helpers-typeorm): delete DataSourceHelper.transaction, use typeormTransaction from rustlike-result instead
  packages/fetcher/package.json
  packages/helpers-typeorm/package.json
  packages/helpers-typeorm/src/__tests__/dataSource.test.ts
  packages/helpers-typeorm/src/dataSource.ts
  packages/helpers-typeorm/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(helpers-nestjs): improve DTO to check empty string
  packages/helpers-nestjs/src/dto/ApiPagination.dto.ts
  packages/helpers-nestjs/src/dto/IntegerId.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/ApiPagination.dto.test.ts
  packages/helpers-nestjs/src/dto/__tests__/IntegerId.dto.test.ts
  packages/helpers-nestjs/src/dto/dtoFactory.ts
  packages/helpers-nestjs/src/dto/index.ts
Due: eslint --cache

feat(utils-browser): add ReadableStreamUtil.iterate
  packages/utils-browser/src/ReadableStream.ts
  packages/utils-browser/src/index.ts
Due: eslint --cache

chore(eslint): update eslint config
  configs/eslint-config/.eslintrc.node.js
  configs/eslint-config/naming.js
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/rc-antd/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  projects/bundlesize-antd/package.json
Due: none

feat(apis): add @easy-pkg/apis package
  configs/eslint-config/.eslintrc.apis.js
  easy-projs.code-workspace
  packages/apis/.eslintrc.json
  packages/apis/.lintstagedrc
  packages/apis/.prettierignore
  packages/apis/README.md
  packages/apis/package.json
  packages/apis/src/common.ts
  packages/apis/src/index.ts
  packages/apis/tsconfig.json
  packages/apis/tsconfigs/tsconfig.lib.json
  packages/apis/tsconfigs/tsconfig.types.json
  packages/helpers-nestjs/src/dto/ApiPagination.dto.ts
  packages/helpers-nestjs/src/dto/__tests__/ApiPagination.dto.test.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(helpers-typeorm): add pagination conversion helpers
  .bundlemonrc.json
  packages/helpers-typeorm/package.json
  packages/helpers-typeorm/src/__tests__/pagination.test.ts
  packages/helpers-typeorm/src/index.ts
  packages/helpers-typeorm/src/pagination.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(eslint): change import order
  configs/eslint-config/.eslintrc.basic.js
Due: none

feat(rc-antd): no more extra margin-bottom for appendable-item
  packages/rc-antd/src/AppendableField/AppendableField.module.scss
  packages/rc-antd/src/AppendableField/AppendableField.tsx
Due: stylelint --cache, eslint --cache

chore(eslint): configure eslint-import-resolver-typescript
  configs/eslint-config/.eslintrc.basic.js
  configs/eslint-config/package.json
  configs/jest-config/.eslintrc.json
  configs/stylelint-config/package.json
  packages/apis/.eslintrc.json
  packages/fetcher/.eslintrc.json
  packages/helpers-antd/.eslintrc.json
  packages/helpers-class-validator/.eslintrc.json
  packages/helpers-nestjs/.eslintrc.json
  packages/helpers-react/.eslintrc.json
  packages/helpers-redux/.eslintrc.json
  packages/helpers-typeorm/.eslintrc.json
  packages/hooks/.eslintrc.json
  packages/random-string/.eslintrc.json
  packages/rc-antd/.eslintrc.json
  packages/types/.eslintrc.json
  packages/utils-browser/.eslintrc.json
  packages/utils-node/.eslintrc.json
  packages/utils-test/.eslintrc.json
  packages/utils/.eslintrc.json
  pnpm-lock.yaml
  projects/bundlesize-antd/.eslintrc.json
  projects/bundlesize-fluentui/.eslintrc.json
  projects/misc-scripts/.eslintrc.json
  projects/misc/.eslintrc.json
  projects/perf-js/.eslintrc.json
  projects/webapp/.eslintrc.json
Due: none

chore(jest): don't set BABEL_ENV
  configs/jest-config/src/exec.ts
Due: eslint --cache

chore: delete project @easy-proj/misc
  easy-projs.code-workspace
  packages/random-string/csharp/RandomGenerator.cs
  projects/misc/.eslintrc.json
  projects/misc/.lintstagedrc
  projects/misc/.prettierignore
  projects/misc/README.md
  projects/misc/package.json
  projects/misc/ts/index.ts
  projects/misc/tsconfig.json
  projects/misc/tsconfigs/tsconfig.lib.json
  projects/misc/tsconfigs/tsconfig.types.json
  projects/misc/vscode/yifanwww-react.code-snippets
  templates/software/python/.flake8
Due: eslint --cache

chore(types): change package exports
  packages/helpers-redux/src/omitUnderscorePrefixActions.ts
  packages/helpers-redux/src/useDispatching.ts
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useDoubleTrigger.ts
  packages/hooks/src/usePersistFn.ts
  packages/rc-antd/src/Readonlyable/ReadonlyableContext.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/utils-test/src/class.ts
  packages/utils-test/src/console.ts
  packages/utils/src/function.ts
  projects/misc-scripts/src/release.npm.ts
  projects/misc-scripts/src/release.pnpm.ts
Due: eslint --cache

feat(misc-scripts): add release script for pnpm monorepo
  projects/misc-scripts/src/release.npm.ts
  projects/misc-scripts/src/release.pnpm.ts
  projects/misc-scripts/src/release/monorepo-release.pnpm.ts
  projects/misc-scripts/src/release/release.npm.ts
  projects/misc-scripts/src/release/release.pnpm.ts
Due: eslint --cache

chore(deps): change workspace packages' version range
  configs/global-types/package.json
  configs/jest-config/package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-react/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/package.json
  projects/misc-scripts/package.json
  projects/perf-js/package.json
  projects/webapp/package.json
Due: none

chore(misc-scripts): add --access public in release scripts
  projects/misc-scripts/src/release/monorepo-release.pnpm.ts
  projects/misc-scripts/src/release/release.npm.ts
  projects/misc-scripts/src/release/release.pnpm.ts
Due: eslint --cache

refactor: move url utils to utils-browser package
  packages/fetcher/src/fetcherFactory.ts
  packages/fetcher/src/index.ts
  packages/fetcher/src/types.ts
  packages/utils-browser/src/__tests__/url.test.ts
  packages/utils-browser/src/index.ts
  packages/utils-browser/src/url.ts
Due: eslint --cache

chore(deps): upgrade @rustresult/result
  configs/jest-config/src/jest.config.webapp-cjs.ts
  packages/fetcher/.eslintrc.json
  packages/fetcher/package.json
  packages/fetcher/src/__tests__/fetcher.test.ts
  packages/fetcher/src/fetcherFactory.ts
  pnpm-lock.yaml
Due: eslint --cache

feat: delete package helpers-react
  easy-projs.code-workspace
  packages/helpers-react/.eslintrc.json
  packages/helpers-react/.lintstagedrc
  packages/helpers-react/.prettierignore
  packages/helpers-react/README.md
  packages/helpers-react/package.json
  packages/helpers-react/src/index.ts
  packages/helpers-react/src/onRender.tsx
  packages/helpers-react/src/types.ts
  packages/helpers-react/tsconfig.json
  packages/helpers-react/tsconfigs/tsconfig.lib.json
  packages/helpers-react/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
Due: eslint --cache

feat: don't use NonNullable<unknown>
  packages/hooks/src/__tests__/helpers.ts
  packages/types/src/primitives.ts
Due: eslint --cache

chore(eslint): add missing doc link
  configs/eslint-config/.eslintrc.basic.js
Due: none

feat(utils): improve ArrayUtil.avoidEmpty
  packages/utils/src/__tests__/array.test.ts
  packages/utils/src/array.ts
Due: eslint --cache

refactor: stop using Nullable or Optional
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/rc-antd/src/Readonlyable/ReadonlyableContext.ts
  packages/types/src/utils/basic.ts
  projects/misc-scripts/src/release/monorepo-release.pnpm.ts
  projects/misc-scripts/src/release/release.npm.ts
  projects/misc-scripts/src/release/release.pnpm.ts
Due: eslint --cache

refactor(webapp): move utils
  projects/webapp/src/utils/storage/local/constants.ts
  projects/webapp/src/utils/storage/local/helpers.ts
  projects/webapp/src/utils/storage/local/index.ts
  projects/webapp/src/utils/storage/session/constants.ts
  projects/webapp/src/utils/storage/session/helpers.ts
  projects/webapp/src/utils/storage/session/index.ts
Due: eslint --cache

feat(pkg/hooks): add useControllableState
  packages/hooks/src/index.ts
  packages/hooks/src/useControllableState.ts
Due: eslint --cache

refactor(proj/redux-usage-demo): move code to package redux-usage-demo
  easy-projs.code-workspace
  pnpm-lock.yaml
  projects/redux-usage-demo/.eslintrc.json
  projects/redux-usage-demo/.lintstagedrc
  projects/redux-usage-demo/.prettierignore
  projects/redux-usage-demo/README.md
  projects/redux-usage-demo/package.json
  projects/redux-usage-demo/src/actions/__tests__/store.test.ts
  projects/redux-usage-demo/src/actions/index.ts
  projects/redux-usage-demo/src/actions/slice.ts
  projects/redux-usage-demo/src/actions/store.ts
  projects/redux-usage-demo/src/adapters/.gitkeep
  projects/redux-usage-demo/src/hooks/index.ts
  projects/redux-usage-demo/src/hooks/useDispatching.ts
  projects/redux-usage-demo/src/hooks/useMainSelector.ts
  projects/redux-usage-demo/src/index.ts
  projects/redux-usage-demo/src/thunks/createMainThunk.ts
  projects/redux-usage-demo/src/thunks/index.ts
  projects/redux-usage-demo/src/types.ts
  projects/redux-usage-demo/tsconfig.json
  projects/redux-usage-demo/tsconfigs/tsconfig.lib.json
  projects/redux-usage-demo/tsconfigs/tsconfig.types.json
  projects/webapp/package.json
  projects/webapp/src/app.tsx
  projects/webapp/src/redux/actions/index.ts
  projects/webapp/src/redux/hooks/index.ts
  projects/webapp/src/redux/index.ts
Due: eslint --cache

chore: update gitignores
  .gitignore
Due: none

docs: update bundle size
  packages/helpers-antd/package.json
  packages/rc-antd/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/README.md
  projects/bundlesize-antd/package.json
  projects/bundlesize-fluentui/README.md
  projects/bundlesize-fluentui/package.json
Due: none

chore(deps): refresh deps
  .prettierignore
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/jest-config/package.json
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/apis/package.json
  packages/fetcher/package.json
  packages/helpers-antd/package.json
  packages/helpers-class-validator/package.json
  packages/helpers-nestjs/package.json
  packages/helpers-redux/package.json
  packages/helpers-typeorm/package.json
  packages/hooks/package.json
  packages/random-string/package.json
  packages/rc-antd/package.json
  packages/types/package.json
  packages/utils-browser/package.json
  packages/utils-node/package.json
  packages/utils-test/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  projects/bundlesize-antd/package.json
  projects/bundlesize-antd/tsconfig.vite.json
  projects/bundlesize-antd/vite.config.mts
  projects/bundlesize-fluentui/package.json
  projects/bundlesize-fluentui/tsconfig.vite.json
  projects/bundlesize-fluentui/vite.config.mts
  projects/misc-scripts/package.json
  projects/perf-js/package.json
  projects/redux-usage-demo/package.json
  projects/webapp/package.json
  projects/webapp/src/reportWebVitals.ts
  projects/webapp/tsconfig.vite.json
  projects/webapp/vite.config.mts
Due: eslint --cache

chore(jest): specify swc target to es2020
  configs/jest-config/src/jest.config.node-cjs-legacy-decorator.ts
  configs/jest-config/src/jest.config.node-cjs.ts
  configs/jest-config/src/jest.config.webapp-cjs.ts
Due: eslint --cache

chore(jest): set swc parser options of webapp
  configs/jest-config/src/jest.config.webapp-cjs.ts
Due: eslint --cache

refactor(helpers-nestjs): use __EXPERIMENTAL__
  packages/helpers-nestjs/src/global.d.ts
  packages/helpers-nestjs/src/guards/ExperimentalApiGuard.ts
Due: eslint --cache

feat(template/software): set powershell console encoding to utf8
  templates/software/powershell/Microsoft.PowerShell_profile.ps1
Due: none

refactor: move useClientPagination hook
  packages/hooks/src/index.ts
  projects/webapp/src/hooks/__tests__/useClientPagination.test.tsx
  projects/webapp/src/hooks/index.ts
  projects/webapp/src/hooks/useClientPagination.ts
  projects/webapp/src/types/app.ts
Due: eslint --cache

refactor(webapp): rename containers to pages
  projects/webapp/src/pages/Home/Home.module.scss
  projects/webapp/src/pages/Home/Home.tsx
  projects/webapp/src/pages/Home/components/Introduction/Introduction.module.scss
  projects/webapp/src/pages/Home/components/Introduction/Introduction.tsx
  projects/webapp/src/pages/Home/components/Introduction/__tests__/Introduction.test.tsx
  projects/webapp/src/pages/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  projects/webapp/src/pages/Home/components/Introduction/index.ts
  projects/webapp/src/pages/Home/index.ts
  projects/webapp/src/router/routes.tsx
Due: stylelint --cache, eslint --cache

Path conditions:
  stylelint --cache: ((any of: *.css) or (any of: *.sass)) or (any of: *.scss)
  eslint --cache: (any of: *.ts) or (any of: *.tsx)
